<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{$title}</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/weMain.css?version=201709012" />
    <link href="__PUBLIC__/assets/css/wc_select2.min.css?version=20170819" rel="stylesheet" />
    <style type="text/css">
        .weui-cells:after {
            border-bottom: 0px solid #fff;
        }

        .weui-selet__user {
            width: 2.5em;
            height: 2.5em;
            margin-bottom: 5px;
            margin-right: 16px;
            border-radius: 5px;
        }

        .wk-select__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 6px;
        }
        .no-select__user{
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 6px;
        }
        .wk-comment__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 12px;
        }

        a:hover {
            text-decoration: none;
        }

        label {
            font-weight: 400;
            margin-bottom: 0px;
        }

        .select2-results__option {
            font-size: 16px;
        }

        .select2-search__field {
            line-height: normal;
        }
        /* end */
        .redColor {
            color: #e64340;
        }
        .greenColor {
            color: #16b517;
        }
        .weui-form-preview__value span {
            display: inline-block;
            width: 80px;
            text-align: center;
        }
        .font-width{
            display: inline-block;
            width: 68px;
            text-align: right;
            
        }
        .greyColor{
            color: #757575;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered{
            padding: 0;
        }
        .other_page{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 999;
        }
        .searchCenter{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="weui-toptips weui-toptips_warn js_tooltips" style="opacity: 1;">错误提示</div>
    
    <div class="container" id="container">
        <div class="page js_show">
            <!-- 系统选择 -->
            <block name="system">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">系统类型&nbsp;&nbsp;
                                    <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select iptColor" name="type" id="edType">
                                <volist name='info.url' id='vo'>
                                    <eq name="vo.on" value="1">
                                        <option  selected value="{$vo.url}">{$vo.name}</option>
                                        <else/>
                                        <option  value="{$vo.url}">{$vo.name}</option>
                                    </eq>
                                </volist>
                            </select>
                        </div>
                    </div>
                </div>
            </block>
            <!-- 系统选择 END -->
            <!-- 不可选择日期 -->
            <block name="disable_date">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell ">
                        <div class="weui-cell__hd">
                            <label class="weui-label" >执行时间&nbsp;&nbsp;

                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" name="custodian" readonly value="{$today}" />
                        </div>
                    </div>
                </div>
            </block>
            <!-- 不可选择日期 END -->
            <!-- 可选择日期 -->
            <block name="able_date">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label" >申请日期&nbsp;&nbsp;
                                    <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"  id="showDatePicker" readonly value="{$today}" />
                        </div>
                    </div>
                </div>
            </block>
            <!-- 可选择日期  END-->
      
            <!-- 主体信息 -->
            <block name="content_body">

            </block>
            <!-- 主体信息 END-->
            <!-- 审批流程 -->
            <block name="Process">
                    <div class="weui-cells__title">审批流程
                            <a href="{$fixed['process']}">（查看可视化流程）</a>
                    </div>
                    <div id="allproc">
                        <div class="weui-cells" style="margin-top:0px;">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <div class="weui-uploader">
                                        <div class="weui-uploader__bd" style="height: 85px;">
                                            <ul class="weui-uploader__files" id="app_pro" style="margin-bottom: 0px;">
                                                    <volist name="appflow" id="vo">
                                                            <neq name="i" value="1">                                                   
                                                                <li class='weui-uploader__file wk-select__user' style='height:90px;margin-left:8px'>
                                                                <else/>
                                                                <li class='weui-uploader__file wk-select__user' style='height:90px;'>
                                                            </neq>
                                                            <if condition="$vo.avatar eq ''">
                                                                <img src="Public/assets/i/defaul.png" class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                                <else/>
                                                                <img src="{$vo.avatar}" class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                            </if>
                                                            <span style='margin-right: 6px;font-size: 14px;'> {$vo.name}</span>
                                                            <if condition="count($appflow) gt $i">
                                                                    <if condition="$vo.sign eq 1">
                                                                            <span style="border-radius: 3px;position: relative;top: -2.5em;right: -1.8em;width: 6px;height: 6px;background-color: #333333"></span>
                                                                        <else/>
                                                                            <span class="glyphicon glyphicon-arrow-right" style="position: relative;top: -2.8em;right: -1.8em;"></span>
                                                                    </if>
                                                            </if>
                                                            </li>
                                                        </volist>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </block>
            <!-- 审批流程 END -->
            <block name="copyto">
                    <div class="weui-cells__title">抄送 <span style="color: #f12e2e">（点击+手动添加抄送人）</span></div>
                    <div class="weui-cells" style="margin-top:0px;">
                        <div class="weui-cell" style="padding-top: 0px;padding-bottom: 5px;margin-bottom: 10px;">
                            <div class="weui-cell__bd">
                                <div class="weui-uploader">
                                    <div class="weui-uploader__bd">
                                        <ul class="weui-uploader__files" id="selectUser" style="margin-bottom: 0px;">
                                            <volist name="fixed.copydata" id="vo">
                                                <li class='weui-uploader__file no-select__user' style='min-height:80px;margin-bottom: 0;'>
                                                    <if condition="$vo.url eq ''">
                                                        <img src="Public/assets/i/defaul.png" class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                        <else/>
                                                        <img src="{$vo.url}" class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                    </if>
                                                    <span style='margin-right: 6px;font-size: 14px;'> {$vo.name}</span>
                                                    </li>
                                            </volist>
                                        </ul>
                                        <div class="weui-uploader__input-box" style="width: 2.5em;height: 2.5em;margin-right: 0px;margin-bottom: 0px;margin-top:10px;">
                                            <input id="uploaderInput" class="weui-uploader__input open_model" type="button" name="copyto" readonly /> <!--data-toggle="modal" data-target="#myModal" -->
                                            
                                            <input type="hidden" name="copyto_id" id="copyto_id" value="{$fixed['fiexd_copy_id']}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </block>

            <!-- 推送 -->
            <block name="pushto">
                    <div class="weui-cells__title">推送名单
                            <a href="{:U('Light/Process/PushProcess',array('system' => $system,'modname'=>$modname))}">（查看可视化名单）</a>
                    </div>
                    <div >
                        <div class="weui-cells" style="margin-top:0px;">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <div class="weui-uploader">
                                        <div class="weui-uploader__bd" style="min-height: 70px;">
                                            <ul class="weui-uploader__files" id="app_pro" style="margin-bottom: 0px;">
                                                <volist name="push" id="vo">
                                                    <li class='weui-uploader__file wk-select__user' style='min-height:70px;width: 45px; margin-bottom: 0;margin-right: 0;'>
                                                    <if condition="$vo.avatar eq ''">
                                                        <img src="Public/assets/i/defaul.png" class='weui-selet__user' style='margin-right: 6px;margin-top:10px;width: 2em; height: 2em;'>
                                                        <else/>
                                                        <img src="{$vo.avatar}" class='weui-selet__user' style='margin-right: 6px;margin-top:10px; width: 2em; height: 2em;'>
                                                    </if>
                                                    <span style='margin-right: 6px;font-size: 12px;'> {$vo.name}</span>
                                                    </li>
                                                </volist>
                                            </ul>
                                        </div>
                                        <div class="weui-cells__title" style="display:block;padding-left: 0"><span style="color: #f12e2e">（审批通过后群发推送人）</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </block>
            <!-- 推送 end -->
            <!-- 提交 -->
            <block name="submit">
                <div class="weui-btn-area">
                    <input type="hidden" name="file_names" id="file_names">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">提交</a>
                </div>
            </block>
            <!-- 提交 end -->
            
        </div>
    </div>
    <div id="loadingToast" style=" display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content" id="toast__content">数据提交中</p>
        </div>
    </div>
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">已完成</p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" width="100%">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only copy_to_close">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">选择人员</h4>
                    </div>
                    
                    <div class="modal-body" id="select_content" style="padding-top: 0px;padding-bottom: 0px;">
                        <div class="page js_show" style="position: relative;">
                            <div class="page__bd">
                                <div class="weui-search-bar" id="searchBar">
                                    <form class="weui-search-bar__form">
                                        <div class="weui-search-bar__box">
                                            <i class="weui-icon-search"></i>
                                            <input type="search" class="weui-search-bar__input " id="searchInput" placeholder="请输入姓名或拼音缩写搜索" required="">
                                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                                        </div>
                                        <label class="weui-search-bar__label searchCenter" id="searchText">
                                            <i class="weui-icon-search"></i>
                                            <span>请输入姓名或拼音缩写搜索</span>
                                        </label>
                                    </form>
                                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">搜索</a>
                                </div>
                                <div class="weui-cells searchbar-result" id="searchResult" style="margin-top: 0px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default copy_to_close" data-dismiss="modal" >关闭</button>
                        <button type="button" class="btn btn-success" id="pre-level" data-pid="">上一级</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal END-->
        <!--BEGIN dialog-->
        <div id="dialogs">
            <div class="js_dialog" id="iosDialog" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__hd"><strong class="weui-dialog__title">是否删除抄送人</strong></div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" onclick="dialog_close()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                        <a href="javascript:;" onclick="dialog_confirm()" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
                    </div>
                </div>
            </div>
            <div class="js_dialog" id="knowDialog" style="display: none;">
                <div class="weui-mask" style="z-index: 1999;"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd" id="knowDialogContent">图片布局方向须朝上！</div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" onclick="dialog_iknow()" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- END dialog -->  
        <block name="other"></block> 
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.3/js/i18n/zh-CN.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
<script src="__PUBLIC__/assets/js/exif.js"></script>
</body>
<script>
 
 
    
    $('input').attr('autocomplete','off');
    
    var $tooltips = $('.js_tooltips'),
        toast     = $('#loadingToast'),
        hash      = $("meta[name='__hash__']").attr('content');
    // 类型选择
    $('#edType').change(function(){
        window.location.href=$(this).val();
    });
    // 数据提交与加载提示
    function toastfadeIn(time,text){
        $('#toast__content').text(text);
        toast.fadeIn(time);
    }
    // 错误提示
    function tooltip(text) {
        if ($tooltips.css('display') != 'none') return;

        // toptips的fixed, 如果有`animation`, `position: fixed`不生效
        $('.page.cell').removeClass('slideIn');

        $tooltips.text(text);
        $tooltips.css('display', 'block');
        setTimeout(function () {
            $tooltips.css('display', 'none');
        }, 2000);
    }
    function dialog_iknow(){
        $("#knowDialog").fadeOut(100);
    }

    function dialog_know(text){
        if(!text) text = '图片布局方向须朝上！';
        $("#knowDialogContent").html(text);
        $("#knowDialog").fadeIn(100);
    }
    // 日期选择
    $('#showDatePicker').on('click', function () {
        if($('#ratio').val() == 'ratio'){
            ratioTime();
        }else{
            weui.datePicker({
                start: 2018,
                end: new Date().getFullYear()+10,
                defaultValue: [new Date().getFullYear(), new Date().getMonth()+1, new Date().getDate()],
                onConfirm: function (result) {
                    DateValue(result);
                    
                },
                id: 'showDatePicker'
            });
        }
    });
    // 日历填充
    function DateValue(dateArr){
        var val = dateArr[0]+'-';
        val +=  dateArr[1]>9?dateArr[1]:'0'+dateArr[1];
        val += '-';
        val +=  dateArr[2]>9?dateArr[2]:'0'+dateArr[2];
        $('#showDatePicker').val(val);
        
    }

    // 金钱格式转换
    function formatMoney(number, places, symbol, thousand, decimal) {
        number = number || 0;
        places = !isNaN(places = Math.abs(places)) ? places : 2;
        symbol = symbol !== undefined ? symbol : "$";
        thousand = thousand || ",";
        decimal = decimal || ".";
        var negative = number < 0 ? "-" : "",
            i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
        return  negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
    }

    
 // 抄送
 var loading = '<div class="weui-loadmore"><i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span></div>';
 var noresult = '<div class="weui-loadmore weui-loadmore_line"><span class="weui-loadmore__tips">暂无数据</span></div>';
 var $selectUser = $("#selectUser");
 // Modal
    $('#myModal').on('show.bs.modal', function (e) {
        var id = 1;
        $("#pre-level").attr("data-pid", 0);
        getDepartment(id);
    });
    $('.open_model').on('click',function(){
        $('#myModal').modal('show');
    });
    function getDepartment(id) {
        $('#searchResult').empty();
        $('#searchResult').append(loading);
        $.post("{:U('Light/Apply/getDeptHtml')}",
                {
                    "id":id
                },function(data){
                    $('#searchResult').empty();
                    // console.log(data);
                    if (data=='') {
                        $('#searchResult').append(noresult);
                    } else {
                        $('#searchResult').append(data);
                    }
                }
        );
    }
    // up pre-level
    $("#pre-level").on("click", function () {
        $('#searchResult').empty();
        $('#searchResult').append(loading);
        var pid = $(this).attr("data-pid");
        // console.log(pid);
        $.post("{:U('Light/Apply/getParentDeptHtml')}",
            {
                "id": pid
            }, function (data) {
                $('#searchResult').empty();
                // console.log(data);
                if (data == '') {
                    $('#searchResult').append(noresult);
                } else {
                    $('#searchResult').append(data.html);
                    // console.log(data.pid);
                    $("#pre-level").attr("data-pid", data.pid);
                }
            }
        );
    });
    // select department
    $("#searchResult").on("click", ".select-department", function () {
        var id = $(this).attr('data-id');
        var type = $(this).attr('data-type');
        // console.log(id);
        getDepartment(id);
        $("#pre-level").attr("data-pid", id);
    });
    // select department user
    $("#searchResult").on("click", ".select-user", function () {
        // var tmpl = '<li class="weui-uploader__file weui-selet__user" style="background-image:url(#url#)" id="#id#"></li>';
        var tmpl = '<li class="weui-uploader__file wk-select__user" id="#id#" style="height:90px;"><img src="#url#" class="weui-selet__user" style="margin-bottom: 0px;margin-right: 6px;margin-top:10px;" /><span style="margin-right: 6px;font-size: 14px;">#name#</span><span class="weui-badge" style="position: relative;top: -5.8em;right: -1.4em;">X</span></li>';
        var id = $(this).attr('data-id');
        var type = $(this).attr('data-type');
        var img = $(this).attr('data-img');
        var name = $(this).attr('data-name');
        var ids = $("#copyto_id").val() + "," + id;
        // console.log(id);
        tmpl = tmpl.replace('#id#', id);
        tmpl = tmpl.replace('#name#', name);
        $selectUser.append($(tmpl.replace('#url#', img)));
        $("#copyto_id").val(ids);
        $('#searchInput').val(null);
        $('#myModal').modal('hide')
    });
    // delete copyto user
    $("#selectUser").on("click", ".wk-select__user", function () {
        $li_dom = $(this);
        $("#iosDialog").fadeIn(200);
    });

        // Close dialog
        function dialog_close() {
        $("#iosDialog").fadeOut(100);
    }
    // Confirm dialog
    function dialog_confirm() {
        var id = $li_dom.attr("id");
        // console.log(id);
        var ids = $("#copyto_id").val() + ",";
        var old_ids_arr = ids.split(",");
        var id_str = '';
        var location = $.inArray(id, old_ids_arr);
        // // console.log(old_name_arr);
        if (location >= 0) {
            var repl_id = ',' + id + ',';
            id_str = ids.replace(repl_id, ',');
        }
        $("#copyto_id").val(id_str);
        $li_dom.remove();
        $("#iosDialog").fadeOut(100);
    }
    // 抄送搜索
  $(function(){
        var $searchBar = $('#searchBar'),
            $searchResult = $('#searchResult'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');

        function hideSearchResult(){
            // $searchResult.hide();
            $searchInput.val('');
        }
        function cancelSearch(){
            hideSearchResult();
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
        }

        $searchText.on('click', function(){
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        $searchInput
            .on('blur', function () {
                if(!this.value.length) cancelSearch();
            })
            .on('input', function(){
                if(this.value.length) {
                    $searchResult.show();
                    searchCopyUser();
                } else {
                    modelIni()
                }
            })
        ;
        $searchClear.on('click', function(){
            hideSearchResult();
            $searchInput.focus();
        });
        $searchCancel.on('click', function(){
            searchCopyUser();
        });
        $searchInput.on('keypress',function(e) {  
            var keycode = e.keyCode;  
            var searchName = $(this).val();
            if(keycode=='13') {  
            e.preventDefault();    

            searchCopyUser();
            }         
        });
        function searchCopyUser(){
            word = $searchInput.val();
            if(!word.length) return modelIni();
            $('#searchResult').empty();
            $('#searchResult').append(loading);
            $.post("{:U('Light/Apply/getDeptHtml')}",
                {
                    "type": 1,
                    'search':word
                }, function (data) {
                    $('#searchResult').empty();
                    // console.log(data);
                    if(data == '') {
                        console.log(1);
                        $('#searchResult').append(noresult);
                    } else {
                        console.log(2);
                        $('#searchResult').append(data);
                        // console.log(data.pid);
                        $("#pre-level").attr("data-pid", 17);
                    }
                }
            );
        }

        function modelIni(){
            var id = 1;
            $searchInput.val(null);
            $("#pre-level").attr("data-pid", 0);
            getDepartment(id);
        }
    });


</script>
<block name="js">

</block>
</html>