<extend name="Apply:applyBase" />
<block name="system"></block>
<block name="disable_date"></block>
<block name="able_date"></block>
<block name="Process"></block>
<block name="copyto"></block>
<block name="pushto"></block>

<!-- 配置主体 -->
<block name="content_body">
    <h3 class="titleTab" style="text-align: center;">指标配置</h3>
    <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">品种类别&nbsp;&nbsp;
                            
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="type" id='type'>
                            
                            <volist name="ratioType" id="item">
                                <eq name="item.product" value="$product">
                                    <option value="{$item.product}" selected >{$item.product}</option>
                                    <else/>
                                    <option value="{$item.product}">{$item.product}</option>
                                </eq>
                                   
                            </volist>
                        </select>
                    </div>
                </div>
    </div>

    <div class="weui-cells__title">点击对应指标修改</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_access show_div">
            <div class="weui-cell__hd">
                <label class="weui-label ">筛余&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select" type="text" readonly  id="tailover1" value="≤ 5 % (45μm)" />
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode data_div">
            <div class="weui-cell__hd">
                <label class="weui-label ">
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number"  id="tailover2" value="5" placeholder="请输入" />
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn">确定</button>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_access  show_div">
            <div class="weui-cell__hd">
                <label class="weui-label ">比表&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__bd ">
                <input class="weui-select" type="text" readonly id="bibiao1" value="430 - 480" />
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode data_div">
            <div class="weui-cell__hd">
                <label class="weui-label">
                </label>
            </div>
            <div class="weui-cell__bd weui-flex">
                <input class="weui-input weui-flex__item" type="number" id="bibiao2" value="430" placeholder="请输入" />
                <span class="weui-flex__item " >&nbsp;&nbsp;&nbsp;&nbsp;- </span>
                <input class="weui-input weui-flex__item" type="number" id="bibiao3" value="480" placeholder="请输入" />
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn">确定</button>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_access  show_div">
            <div class="weui-cell__hd">
                <label class="weui-label ">水份&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select" type="text" readonly id="moisture1" value="≤ 1 %" />
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode data_div">
            <div class="weui-cell__hd">
                <label class="weui-label ">
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="moisture2" value="1" placeholder="请输入" />
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn">确定</button>
            </div>
        </div>
    </div>
</block>
<block name="submit">
        <div class="weui-btn-area">
            <input type="hidden" name="file_names" id="file_names">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">提交</a>
        </div>
        <div class="weui-cells__title">注意事项</div>
        <!-- <div class="weui-cells__title">各个中心主管及以上职位的申请抄送</div> -->
        <div class="weui-cells" style="margin-top:0px;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd" style="height: 85px;">
                             <div  style="color: #f12e2e;">请确认指标配置准确无误<br/>该指标数据关联产品合格率<br/>及不达标报警信息发送</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </block>
<!-- JS -->
<block name="js">
        
    <script>
        var tailover = '',
            bibiao   = '',
            moisture = '',
            ini_tailover = '',
            ini_bibiao   = '',
            ini_moisture = '';
        $('.data_div').hide();
        $('.show_div').click(function(){
            var index = $(this).index('.show_div'),
                elm   = $('.data_div').eq(index);
            elm.css('display') == 'none'?elm.fadeIn(200):elm.fadeOut(200);
        });
        // 点击确定
        $('.weui-vcode-btn').click(function(){
           var index = $(this).index('.weui-vcode-btn');

           if(index == 0){
            Tailover() // 筛余
           }else if(index == 1){
            Bibiao(); // 比表
           }else if(index == 2){
            Moisture(); // 水份
           }
        });
        // 筛余确定按钮

        function  Tailover(){
            var value = $('#tailover2').val();
            if(!value || value < 0) return tooltip('请认真填写筛余指标');
            tailover = value;
            $('#tailover1').val('≤ '+$('#tailover2').val()+' % (45μm)');
            $('.data_div').eq(0).fadeOut(200);
        }

        function  Bibiao(){
            var value_1 = $('#bibiao2').val(),value_2 = $('#bibiao3').val();

            if(!value_1 || value_1 < 0 || !value_2 || value_2 < 0) return tooltip('请认真填写比表指标');

            if(value_1>value_2) return tooltip('请认真填写比表范围');

            bibiao = value_1+'|'+value_2;
            $('#bibiao1').val(value_1+' - '+value_2);
            $('.data_div').eq(1).fadeOut(200);
        }

        function  Moisture(){

            var value = $('#moisture2').val();
            if(!value || value < 0) return tooltip('请认真填写水份指标');
            moisture = value;
            $('#moisture1').val('≤ '+value+' %');
            $('.data_div').eq(2).fadeOut(200);
        }

        // 类型选择
        $('#type').change(function(){
            getData();
        });
        
        // 数据接口
        getData();
        function getData(){
            toast.fadeIn(200);
            $.ajax({
                type:'POST',
                url: "{:U('Light/Seek/seekApi')}",
                dataType: 'json',
                data: {
                    type: 'config_api',
                    product:$('#type').val()
                },
                success: function (res) {
                    if(res.code == 200){
                        tailover = res.data[0].value,
                        bibiao   = res.data[1].value,
                        moisture = res.data[2].value,
                        ini_tailover = res.data[0].value,
                        ini_bibiao   = res.data[1].value,
                        ini_moisture = res.data[2].value;
                        
                       var  tailover1_val= !res.data[0].value?'无':'≤ '+res.data[0].value+' % (45μm)';
                       $('#tailover1').val(tailover1_val);
                       $('#tailover2').val('');

                       var val = res.data[1].value.split('|');
                       var  bibiao1_val= !res.data[1].value?'无':val[0]+' - '+val[1];
                       $('#bibiao1').val(bibiao1_val);
                       $('#bibiao2').val('');
                       $('#bibiao3').val('');

                       var  moisture1_val= !res.data[2].value?'无':'≤ '+res.data[2].value+' %';
                       $('#moisture1').val( moisture1_val);
                       $('#moisture2').val('');
                      
                    }
                    toast.fadeOut(200);
                }
            });
        }
        // 修改提交
        $('#submit').click(function () {
            // 无修改不提交
            if(tailover == ini_tailover && bibiao == ini_bibiao && moisture == ini_moisture) return;
            // 提示
            if(!tailover || tailover < 0) return  tooltip('请认真填写筛余指标');
            if(!bibiao )                  return  tooltip('请认真填写比表指标');
            if(!moisture || moisture < 0) return  tooltip('请认真填写水份指标');
            
            toast.fadeIn(200);
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Seek/seekApi')}",
                dataType: 'json',
                data: {
                    data:[tailover,bibiao,moisture],
                    type: 'config_submit',
                    product:$('#type').val(),
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    
                    if(res.code==200){
                       if( res.data.code == 404 ) return;
                       $('#toast').fadeIn(200);
                        setTimeout(function(){$('#toast').fadeOut(1500)},2000);  
                    }
                }
            });
        });
    </script>
</block>