<extend name="Seek:base" />

<block name='content'>
        <div class="page__bd">
                <!--<a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索系统、模块名" required="">
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label searchCenter" id="searchText">
                            <i class="weui-icon-search"></i>
                            <span>搜索系统、模块名</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">搜索</a>
                </div>
            </div>
                    <div class="weui-panel__hd" style="color: red;font-size: 18px;font-weight: 800;background-color: #f8f8f8;padding-top: 8px;padding-bottom: 4px;">待审批</div>
                    <div class="weui-panel__bd">
                        
                            <volist name="submit" id="copy">
                                <a href="{:U('Light/Apply/applyInfo', array('system'=>$copy['system'],'aid'=> $copy['aid'],'modname' =>$copy['mod_name'] ))}" class="weui-cell weui-cell_access weui-cell_link" style="text-decoration: none;">
                                <div class="weui-media-box weui-media-box_text" style="width: 100%;padding-left: 0px;padding-right: 0px;">
                                    <div class="weui-flex" style="align-items: center;">
                                        <div class="weui-flex__item">
                                            <h4 class="weui-media-box__title" >{$copy.applyer}的{$copy.title}</h4>
                                        </div>
                                        <div class="weui-flex__item">
                                            <eq name="copy.stat" value="2">
                                                <eq name="copy.apply.stat" value="2">
                                                    <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
                                                </eq>
                                                <eq name="copy.apply.stat" value="1">
                                                    <span class="label label-danger" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已退审</span>
                                                </eq>
                                                <eq name="copy.apply.stat" value="0">
                                                    <span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">审批中</span>
                                                </eq>
                                            </eq>
                                            <eq name="copy.stat" value="0">
                                                <span class="label label-default" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已撤销</span>
                                            </eq>
                                            <eq name="copy.stat" value="1">
                                                <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
                                            </eq>
                                        </div>
                                        
                                        <div class="weui-flex__item">
                                            <span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;margin-bottom: 8px;"></span>
                                        </div>
                                        
                                        <div class="weui-flex__item" style="text-align: right;">
                                            <h5>{$copy.date}</h5>
                                        </div>
                                    </div>
                                    <p class="weui-media-box__desc  " style="margin-bottom: 0px;">  <span>{$copy.titlename}：</span>  <span class="" >{$copy.name}</span></p>
                                    <p class="weui-media-box__desc " style="margin-bottom: 0px;">  <span>申请金额：</span>  <span class="" >{$copy.approve}</span></p>
                                    <p class="weui-media-box__desc  " style="margin-bottom: 0px;">  <span>申请理由：</span><span class="" >{$copy.notice}</span> </p>
                                </div> 
                                </a>
                                </volist> 
                       
                    </div>
                </div>

                <div class="weui-panel weui-panel_access" style="margin-top:0px;">
                    <div class="weui-panel__hd" style="color: green;font-size: 18px;font-weight: 800;background-color: #f8f8f8;padding-top: 8px;padding-bottom: 4px;">已审批</div>
                    <div class="weui-panel__bd" id="approve">
                        
                    </div>
</block>


<block name="js">
    <script>
        var page = 1;
        var toast = $('#loadingToast'),
            no_more = $('.no-more'),
            load_more = $('.load-more');
        load_more.click(function(){
                getData();
            })
        $(function(){
            
            toast.fadeIn(200);

            // 请求数据
            getData();

        })
    // 搜索触发
    function searchGetDate(){
        page = 1;
        toast.fadeIn(200);
        $('#approve').empty();
        getData();
    }
// 接口请求
    function getData(){
        $.ajax({
            type:'POST',
            url: "{:U('Light/Seek/seekApi')}",
            data: {
                type: 'submit',
                page_num:page,
                search:$('#searchInput').val()
            },
            dataType: 'json',
            success: function (res) {
                if(res.code == 200){
                    var data = res.data;
                    if(data.length <20){
                        no_more.show();
                        load_more.hide();
                    }else{
                        page++;
                        load_more.show();
                        no_more.hide();
                        
                    }

                    makeHtml(data);
                }
                toast.fadeOut(200);
            }
        });
    }
// html 生成
    function  makeHtml(data){
        var html = '';
        for(i = 0 ; i<data.length;i++){
            html +="<a href='"+"{:U('Light/Apply/applyInfo')}"+'&system='+data[i]['system']+'&aid='+data[i]['aid']+'&modname='+data[i]['mod_name']+"' class='weui-cell weui-cell_access weui-cell_link' style='text-decoration: none;'>"+
            '<div class="weui-media-box weui-media-box_text" style="width: 100%;padding-left: 0px;padding-right: 0px;">'+
            '<div class="weui-flex" style="align-items: center;">'+
            '<div class="weui-flex__item">'+
            '<h4 class="weui-media-box__title" >'+data[i]['applyer']+'的'+data[i]['title']+'</h4>'+
            '</div>'+
            '<div class="weui-flex__item">';
            if(data[i]['stat'] == 0){
                html+= '<span class="label label-default" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已撤销</span>'
            }else if(data[i]['stat'] == 2){
                if(data[i]['apply']['stat']==2){
                    html+='<span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>';
                }else if(data[i]['apply']['stat']==1){
                    html+='<span class="label label-danger" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已退审</span>';
                }else if(data[i]['apply']['stat']==0){
                    html+='<span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">审批中</span>';
                }
            }else if(data[i]['stat'] == 1){
                
                html+= '<span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>';
            }
            html+='</div><div class="weui-flex__item" style="text-align: right;"><h5>'+data[i]['date']+'</h5></div> </div>'+
                    '<p class="weui-media-box__desc " style="margin-bottom: 0px;"><span>'+data[i]['titlename']+'：</span><span  >'+data[i]['name']+'</span></p>'+
                    '<p class="weui-media-box__desc " style="margin-bottom: 0px;"><span>申请金额：</span><span class="" >'+data[i]['approve']+'</span></p>'+
                    '<p class="weui-media-box__desc " style="margin-bottom: 0px;"><span>申请理由：</span><span class="" >'+data[i]['notice']+'</span></p>'+
                    '</div> </a>';
        }
        $('#approve').append(html);
    }  
    </script>
</block>