<extend name="Apply:base" />


<!-- 去除不可选择日期 end-->
<block name="work_flow">
    <div class="weui-panel" style="margin-top: 0px;">
        <div class="weui-panel__hd" style="font-size: 16px;background-color: #f8f8f8;color:black;padding-top: 10px;">审批流程
            <a href="{:U('Light/Process/ApplyProcess',array('modname'=>$mod_name,'system'=>$system))}">（查看可视化流程）</a> 
        </div>
        <div class="weui-cells" style="margin-top:0px;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd" style="height: 85px;">
                            <ul class="weui-uploader__files" id="app_pro" style="margin-bottom: 0px;">
                               
                            <block name="process">
                                <volist name="proInfo" id="vo">
                                   
                                    <li class='weui-uploader__file wk-select__user' id='{$vo.id}' style='height:90px;margin-left:8px'>
                                        <if condition="$vo.avatar eq ''">
                                            <img src='Public/assets/i/defaul.png' class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                            <else/>
                                            <img src={$vo.avatar} class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                        </if>
                                        <span style='margin-right: 6px;font-size: 14px;'>{$vo.realname}</span>
                                        <if condition="$vo.proc eq 1">
                                                <span class="glyphicon glyphicon-arrow-right" style="position: relative;top: -2.8em;right: 2.0em;"></span>
                                        </if>
                                        <if condition="$vo.proc eq 2">
                                                <span style="border-radius: 3px;position: relative;top: -2.5em;right: 2.2em;width: 6px;height: 6px;background-color: #333333"></span>       
                                        </if>
                                    </li>
                                   
                                </volist>
                            </block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>