<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<!-- 去除不可选择日期 end-->
<block name="content_body">
    
    <style>
        body .weui-form-preview__value {
            color: #4e4e4e;
        }
        
        .no-more {
            display: none;
            text-align: center;
            line-height: 30px;
            color: #cecece;
            font-size: 12px;
            background: #f0f0f0;
        }

        .load-more {
            display: none;
            text-align: center;
            line-height: 30px;
            color: #6ea3f3;
            font-size: 12px;
            border-radius: 5px;
            width: 98%;
            margin: 0 auto;
            border-top: 1px solid rgb(243, 237, 237);
        }


        .load-more:active {
            background: #97d4ff;
            color: #fff;
        }

        #btn-all {
            display: none;
            right: 10px;
            bottom: 10px;
            position: fixed;
            text-align: center;
            z-index: 9;
        }

        label {
            font-weight: 400;
            margin-bottom: 0px;
        }

        .searchCenter {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .addbtn{
            color: #4b4b4b;
        }
        .addbtn:hover{
            color: #b0b0b0;
        }
    </style>
    <input type="hidden" id="ratio" value="ratio">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">配比通知&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id='ratio_sel'>
                    <option value='-1' disabled selected style='display:none;'>请选择配比通知</option>
                    <!-- <option value="P.C32.5R">P.C32.5R</option> -->
                    <option value="P.S.A32.5">P.S.A32.5</option>
                    <option value="P.O42.5">P.O42.5</option>
                    <option value="P.O52.5">P.O52.5</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">配比详情&nbsp;&nbsp;
                      
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-select " type="text" readonly style="color: #337ab7;" id='open_ratio' value="点击查看详情" />
                </div>
            </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">生产品种&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select peibi " type="text" id="product" readonly maxlength="15" name="custodian"
                    placeholder="自动填写">
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">入库库号&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id='kh'>
                    <option value='-1' disabled selected style='display:none;'>请选择入库号</option>
                    <option value=1>1#</option>
                    <option value=2>2#</option>
                    <option value=3>3#</option>
                    <option value=4>4#</option>
                    <option value=5>5#</option>
                    <option value=6>6#</option>
                </select>
            </div>
        </div>
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after" id="btnhp">
            <div class="weui-cell__hd">
                <label class="weui-label">物料配置&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select " type="text" readonly style="color: #337ab7;" id='open' value="点击添加配置" />
            </div>
        </div>
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="font-width">配置详情</span>&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__hd">
                <div id="param_div">

                    <span class=" greyColor">自动填写</span>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">申请理由&nbsp;&nbsp;
                   
                </label>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" id="cnt">
                <textarea class="weui-textarea" name="reason" id="reason" placeholder="申请理由至少5个字(必填)；" rows="3"></textarea>
                <div class="weui-textarea-counter">
                    <span id="reason_char">0</span>/200</div>
            </div>
        </div>
    </div>

    <div id="dialog_materiel">
        <div class="js_dialog" id="iosDialog_materiel" style="display: none;font-size: 16px;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd">
                    <div class="weui-cell weui-cell_select weui-cell_select-after" style="background-color: #fff;font-size: 16px;">
                        <div class="weui-cell__hd">
                            <label class="weui-label">皮带选择&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="type" id="three_pd_name">
                                <option value='-1' disabled selected style='display:none;'>请选择皮带</option>
                                <option value=1>1#</option>
                                <option value=2>2#</option>
                                <option value=3>3#</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after" style="background-color: #fff;font-size: 16px;">
                        <div class="weui-cell__hd">
                            <label class="weui-label">物料名称&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select  typename" name="type">
                                <option value='-1' disabled selected style='display:none;'>请选择材料</option>
                                <option value=1>1#</option>
                                <option value=2>2#</option>
                                <option value=3>3#</option>
                            </select>
                        </div>
                    </div>
                    <div id="more_materiel" style="display: none;">
                        <div class="weui-cell weui-cell_select weui-cell_select-after" style="background-color: #fff;font-size: 16px;">
                            <div class="weui-cell__hd">
                                <label class="weui-label">物料名称&nbsp;&nbsp;
                                    <span style="color:red;">*</span>
                                </label>
                            </div>
                            <div class="weui-cell__bd">
                                <select class="weui-select  typename" name="type">
                                    <option value='-1' disabled selected style='display:none;'>请选择材料</option>
                                    <option value=1>1#</option>
                                    <option value=2>2#</option>
                                    <option value=3>3#</option>
                                </select>
                            </div>
                        </div>
                        <div class="weui-cell weui-cell_select weui-cell_select-after " style="background-color: #fff;font-size: 16px;">
                            <div class="weui-cell__hd">
                                <label class="weui-label">分配比例&nbsp;&nbsp;
                                    <span style="color:red;">*</span>
                                </label>
                            </div>
                            <div class="weui-cell__bd weui-flex" >
                                <input class="weui-select peibi scale" style="text-align:center;padding: 0;width: 45px;" type="number" maxlength="15" name="custodian" value="1" placeholder="1">
                                <span style="padding-top: 7px;">比 </span>
                                <input class="weui-select peibi scale" style="text-align:center;" type="number" maxlength="15" name="custodian" value="1" placeholder="1">
                            </div>
                        </div>
                    </div>

                    <div class="weui-cells__title" style="text-align:left;"><span id='materiel_add' style="background-color: #fff;" class="weui-btn weui-btn_mini greenColor weui-btn_default ">添加物料</span></div>
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" id="materiel_cancel" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                    <a href="javascript:;" id="materiel_sure" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="other_page" id="other_page" style="display: none;">
        <div class="container">
            <div class="page js_show ">
                <h3 class="titleTab" style="text-align: center">物料配置</h3>
                <div id='pd_show'>
                    
                </div>
                <div class="button-sp-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                    <span id="ratio-refuse" class="weui-btn weui-btn_warn" style="width: 40%;">取消</span>
                    <span id="ratio-agree" class="weui-btn weui-btn_primary" style="width: 40%">确定</span>
                </div>
                <div class="weui-cells__title">注意事项</div>
                <!-- <div class="weui-cells__title">各个中心主管及以上职位的申请抄送</div> -->
                <div class="weui-cells" style="margin-top:0px;">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-uploader">
                                <div class="weui-uploader__bd" style="height: 60px;">
                                     <div  style="color: #f12e2e;">可选物料为对应配比通知设定物料<br/>同一皮带称如有两种物料需分配比例</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="js_dialog" id="iosDialog_ratio" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd" id="show_ratio">弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" id="close_ratio" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>
        
</block>
<block name='js'>
    <script>
        var pdArr = ['A线1#', 'A线2#', 'A线3#', 'A线4#', 'A线5#', 'B线1#', 'B线2#', 'B线6#', 'B线7#', 'B线8#'];
        var other_page = $('#other_page'),
            info = [],
            option_arr = [];
        select = [],
            //temp_arr = [],// 选择中的缓存
            materiel = 0,
            select_arr = [],// 点击三级页面确定后的缓存
            sb_arr = [],// 点击二级页面确定 数据保存 
            click_now = '',
            datePicker = $('#showDatePicker'),
            open_btn = $('#open'),
           
            select_pd = [];
        var label = "生产时间&nbsp;&nbsp;<span style='color:red;'>*</span>";
        the_date = datePicker.val();
        var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
        datePicker.val(null);
        datePicker.attr('placeholder', '请选择生产时间');
        $('.weui-label').eq(1).html(label);
        function ratioTime() {
            // 日期选择
            var hours = [],
                minites = [],
                symbol = [];

            for (var i = 0; i < 24; i++) {
                var hours_item = {};
                hours_item.label = ('' + i).length === 1 ? '0' + i : '' + i;
                hours_item.value = i;
                hours.push(hours_item);
            }
            
            for( i = 0;i<(60/5) ;i++){
                var minites_item = {};
                var temp_label   = i*5;

                if(i*5<10) temp_label = 0+''+temp_label;
                minites_item.label = temp_label;
                minites_item.value = temp_label;
                minites.push(minites_item);
            }

            for (var i = 0; i < 3; i++) {
                $date = new Date();
                $date = $date.setDate($date.getDate() - 2 + i);
                $date = new Date($date);

                var Y = $date.getFullYear(),
                    M = $date.getMonth() + 1,
                    D = $date.getDate();

                M = M > 9 ? M : '0' + M;
                D = D > 9 ? D : '0' + D;

                var symbol_item = {};
                symbol_item.label = Y + '-' + M + '-' + D + ' ' + arr_week[$date.getDay()];
                if (i == 2) {
                    symbol_item.label = '今天';
                }
                symbol_item.value = Y + '-' + M + '-' + D;
                symbol.push(symbol_item);
            }

            weui.picker(symbol, hours, minites, {
                defaultValue: [the_date, $date.getHours() + 1, 0],
                onConfirm: function (result) {
                    pickerValue(result);
                }
            });
        }

        // 日历填充
        function pickerValue(dateArr) {
            var val = dateArr[0] + ' ';

            val += dateArr[1] > 9 ? dateArr[1] : '0' + dateArr[1];
            val += ':';
            val += dateArr[2];
            $('#showDatePicker').val(val);
        }

        // 页面的打开与关闭
        open_btn.click(function () {
            if ($('#ratio_sel').val() == -1 || !$('#ratio_sel').val()) return tooltip('请选择配比通知单');
            if (!$('#kh').val()) return tooltip('请选择入库号');
            other_page.fadeIn(200);
        })
        $('#ratio-refuse').click(function () {
            other_page.fadeOut(200);
        });
        $('#ratio-agree').click(function () {
            // <div style="padding: 3px 0 0 0;border-bottom: 1px solid #e5e5e5; "><strong>皮带1</strong></div>
            // <div style="padding: 3px 0 0 10px;"><span class="">宝钢水渣</span>：50%</div>
            var ycl = $('.ycl_content');
            var html = '';
            sb_arr = [];
            materiel = 0;
            for (i = 0; i < ycl.length; i++) {

                var selectname = ycl.eq(i).find('.selectname');
                var selectval = ycl.eq(i).find('.selectval');
                // console.log(selectval);
                if (!selectname.eq(0).text()) continue;
                var sb_tmp = {
                    'pd': pdArr[i],
                    'data': []
                };
                sb_tmp['data'].push({ 'name': selectname.eq(0).text(), 'value': selectval.eq(0).val() });
                materiel++;
                html += '<div style="padding: 3px 0 0 0;border-bottom: 1px solid #e5e5e5; "><strong  >' + pdArr[i] + '</strong></div>';
                if (selectname.eq(1).text()) {
                    sb_tmp['data'].push({ 'name': selectname.eq(1).text(), 'value': selectval.eq(1).val() });
                    materiel++;
                    html += '<div style="padding: 3px 0 0 10px;"><span class="">' + selectname.eq(0).text() + ':'+selectname.eq(1).text()+'</span></div>';
                    html += '<div style="padding: 3px 0 0 10px;"><span class="">分配比例</span>：' +selectval.eq(0).val() + '比'+selectval.eq(1).val() + '</div>';
                }else{
                    html += '<div style="padding: 3px 0 0 10px;"><span class="">' + selectname.eq(0).text() + '</span></div>';
                }
                sb_arr.push(sb_tmp);
            }
            other_page.fadeOut(200);
            if (html == '') return;
            $('#param_div').html(html);

        });

        // 二级显示3级
        $('#pd_show').on('click', '.addbtn', function () {
            var idx = $(this).attr('index');
            click_now = idx;
            materiel_cancel();
            makeThreeOption(idx);
            $('#iosDialog_materiel').fadeIn(200);
            $('.scale').val(1).attr('readonly', true);
            maketypename();
           
        });

        // 页面的展示
        // 三级的取消和确定
        $('#materiel_cancel').click(function () {
            $('#iosDialog_materiel').fadeOut(200);
        });

        // 三级确定
        $('#materiel_sure').click(function () {
            var length = 1;
            if ($('#materiel_add').text() == '删除物料') length = 2;
            var tmp = [];
            var str = '';
            
            for (i = 0; i < length; i++) {
                var typename = $('.typename').eq(i).val();
                if (typename == -1 || !typename) return tooltip('请选择材料');
                if (!$('.scale').eq(i).val()) return tooltip('请选择' + typename + '分配比例');
                tmp.push(typename);
                str += '<input type="hidden" class="selectval" value="'+$('.scale').eq(i).val()+'">'
                if(i==0){
                    str += '<div style="padding: 3px 0 0 10px;"><span class="selectname">' + typename + '</span>';
                }else{
                    str += '：<span class="selectname">' + typename + '</span></div>';
                    str += '<div style="padding: 3px 0 0 10px;"><span >分配比例：' + $('.scale').eq(0).val()+'比'+ $('.scale').eq(1).val() + '</span></div>';
                }
                //if ($.inArray(typename, temp_arr) != -1) return tooltip('已有该材料，请重新选择');
                
            }
            if(i==1) str += "</div>";
            //temp_arr = temp_arr.concat(tmp);
            var pd = $('#three_pd_name').val();
            select_pd.push(parseInt(pd));
            $('.er_show').eq(pd).fadeIn(200);
            $('.ycl_content').eq(pd).html(str);
            $('#iosDialog_materiel').fadeOut(200);
        });
       
        $('#materiel_add').click(function () {
            if ($(this).text() == '添加物料') {
                materiel_add();
            } else {
                materiel_cancel();
            }
        });

        $('.typename').change(function () {
            var idx = 1 - $(this).index('.typename');
            var thisname = $('.typename').eq(idx).val();
            if (thisname == $(this).val()) {
                $(this).val(-1);
                return tooltip('已有该材料，请重新选择');
            }
            
        });
        // 添加 
        function materiel_add() {
            $('#more_materiel').fadeIn(200);
            $('#materiel_add').text('删除物料');
            $('.scale').removeAttr('readonly');
            $('.scale').eq(1).val(1);
            $('#materiel_add').removeClass('greenColor').addClass('redColor');
        }
        // 删除
        function materiel_cancel() {
            $('#more_materiel').fadeOut(200);
            $('#materiel_add').text('添加物料');
            $('.typename').eq(1).val(-1);
            $('.scale').val(1).attr('readonly', true);
            $('#materiel_add').removeClass('redColor').addClass('greenColor');
        }

         pd_show();
        function pd_show() {
            var html = '';
            for (i = 0; i < pdArr.length; i++) {
                if(i==0){ 
                    html += '<div class="weui-panel__hd" style="color: #333;font-size: 18px;font-weight: 800;background-color: #f8f8f8;padding-top: 8px;padding-bottom: 4px;">皮带秤'+
                            '<span class="glyphicon glyphicon-plus addbtn" index=1 aria-hidden="true" style="float:  right;margin-right:  20px;"></span></div>';
                }

                html +='<div class="weui-cell er_show" style="display:none;background-color: rgb(255, 255, 255);">'+
                        '<div class="weui-cell__hd"><label class="weui-label" style="text-align: center;" >'+pdArr[i]+'&nbsp;&nbsp;</label></div>'+
                        '<div class="weui-cell__hd">'+
                            '<div class="ycl_content">'+
                            '</div>'+
                        '</div>'+
                        '<div class="weui-cell__hd" style="position:  absolute;right: 28px;"><span class="weui-icon-cancel"></span></div>'+
                    '</div>'
            }
            $('#pd_show').html(html);
        }
        // 二级删除
        $('#pd_show').on('click','.weui-icon-cancel',function(){
            var index = $(this).index('.weui-icon-cancel');
            select_pd.splice($.inArray(index,select_pd),1); // 同步删除物料
            // 删除物料
            var ycl = $('.ycl_content');
            var selectname = ycl.eq(i).find('.selectname');
            for(i=0;i<selectname.length;i++){
               
                temp_arr.splice($.inArray(selectname.eq(i).text(),temp_arr),1);
            }
            $('.er_show').eq(index).fadeOut(200);
            $('.ycl_content').eq(index).html('');
        });
        // 获取配置通知信息
        getRatio();
        function getRatio() {
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/KfMaterielApplyApi')}",
                dataType: 'json',
                data: {
                    system: "{$system}",
                    modname: 'KfMaterielApply',
                    action: 'getRatio',
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    info = res;
                    makeTypeOption();
                }
            });
        }

        // 获取申请人所在部门 
        $('#app_pro .wk-select__user').eq(0).find('span').eq(1).remove();
        getUserSection();
        function getUserSection() {
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/KfMaterielApplyApi')}",
                dataType: 'json',
                data: {
                    system: "{$system}",
                    modname: 'KfMaterielApply',
                    action: 'getUserSection',
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    rid = res == 1 ? 1 : 0;
                    $('#app_pro .wk-select__user').eq(rid).remove();
                }
            });
        }



        function makeTypeOption() {

            var option = "<option value='-1' disabled selected style='display:none;'>请选择配比通知</option>";
            for (i = 0; i < info.length; i++) {
                option += "<option  value=" + i + ">" + info[i]['no'] + "</option>";
            }
            $('#ratio_sel').html(option);
        }
        $('#ratio_sel').change(function () {
            var i = $(this).val();
            select = info[i];
            //console.log(select)
            option_arr = info[i]['name'];
            $('#product').val(select['product']);
            sb_arr = [];
            materiel = 0;
            $('#param_div').html('<span class=" greyColor">自动填写</span>');
            ratioDetail();
        });
        // 二级显示3级 option
        function maketypename() {
            var option = "<option value='-1' disabled selected style='display:none;'>请选择材料</option>";
            for (i = 0; i < option_arr.length; i++) {
                option += "<option  value='" + option_arr[i] + "'>" + option_arr[i] + "</option>";
            }
            $('.typename').html(option);
        }

        function makeThreeOption(idx){
            var start = 0;
            var option = "<option value='-1' disabled selected style='display:none;'>请选择皮带</option>";
            for (i=0;i<10;i++) {
                
                if($.inArray(start,select_pd)!= -1 ){
                    start++;
                    continue;
                }
                option += "<option  value='" + start + "'>" + pdArr[start] + "</option>";
                start++;
            }
            $('#three_pd_name').html(option);
        }

        $('#submit').click(function () {

            // return tooltip('测试中...稍等2分钟');
            if (!datePicker.val()) return tooltip('请选择生产时间');
            if ($('#ratio_sel').val() == -1 || !$('#ratio_sel').val()) return tooltip('请选择配比通知单');
            if (!$('#kh').val()) return tooltip('请选择入库号');
            if (sb_arr.length <= 0) return tooltip('请点击配置物料');
            // 备注检测
            var notice = $('#reason').val();
            toastfadeIn(200, '数据提交中');
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/KfMaterielApplyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    time: datePicker.val(),
                    select: select,
                    kh: $('#kh').val(),
                    sb: sb_arr,
                    notice: notice,
                    system: "{$system}",
                    modname: 'KfMaterielApply',
                    action: 'submit',
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    if (res.code == 200) {
                        window.location.href = "{$fixed['info']}" + "&aid=" + res.aid;
                    } else {
                        tooltip(res.msg);
                    }
                }
            });
        });

        $('.greyColor').change(function(){
            $(this).removeClass('greyColor');
        });

        // 查看配比通知详情
        $('#open_ratio').click(function(){
            if ($('#ratio_sel').val() == -1 || !$('#ratio_sel').val()) return tooltip('请选择配比通知单');
            $('#iosDialog_ratio').show();
        });
        $('#close_ratio').click(function(){
            $('#iosDialog_ratio').hide();
        });
        function ratioDetail(){
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/KfMaterielApplyApi')}",
                dataType: 'json',
                data: {
                    ratioid : select['id'],
                    system  : "{$system}",
                    modname : 'KfMaterielApply',
                    action  : 'getRatioDetail',
                },
                dataType: 'json',
                success: function (res) {
                   $('#show_ratio').html(res);
                }
            });
        }

    </script>
</block>