<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{$show.proName}审批流程</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/weMain.css?version=201708232" />
    <link href="__PUBLIC__/assets/css/wc_select2.min.css?version=20170819" rel="stylesheet" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_915899_6e03l1mub3m.css" />
    <style type="text/css">
        .weui-cells:after {
            border-bottom: 0px solid #fff;
        }

        .weui-cell {
            padding: 0px 15px;
        }

        .weui-selet__user {
            width: 2.5em;
            height: 2.5em;
            margin-bottom: 5px;
            margin-right: 16px;
            border-radius: 5px;
        }

        .wk-select__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 6px;
        }

        .wk-comment__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 12px;
        }

        a:hover {
            text-decoration: none;
        }

        label {
            font-weight: 400;
            margin-bottom: 0px;
        }

        .select2-results__option {
            font-size: 16px;
        }

        .select2-search__field {
            line-height: normal;
        }

        .titleTab {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="weui-toptips weui-toptips_warn js_tooltips" style="opacity: 1;">错误提示</div>
    <div class="container" id="container">
        <div class="js_dialog" id="delDialog" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd" style="padding:15px;color:#f12e2e;">删除确认</div>
                    <div class="weui-dialog__bd">确定要将此流程删除？</div>
                    <div class="weui-dialog__ft"> 
                        <a href="javascript:;" onclick="dialog_cal()" class="weui-dialog__btn weui-dialog__btn_primary">取消</a>
                        <a href="javascript:;"  style="color:#f12e2e;" onclick="dialog_sure()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>
        <div class="page js_show">
            
            <div class="page__bd">
                <!-- 流程 -->
                <h3 class="titleTab zhineng">{$show.name}</h3>
                <if condition=" (empty($atten)) and (!$CueConfig)">
                    <div class="weui-cells__title" style="text-align:right;margin: 0;display:none;">
                    <else/>
                    <div class="weui-cells__title" style="text-align:right;margin: 0;">
                </if>
                    <a href="{$url}" class="weui-btn weui-btn_mini weui-btn_default">关闭</a>
                    <a href="{:U('Light/Config/Dispenser',array('robot'=>'viewProTitlePage','system'=>$system,'mod'=>$modname))}" class="weui-btn weui-btn_mini weui-btn_primary">新增</a>
                </div>
                <div class="zhi">
                    <volist name="show.data" id="vo">
                        <div class="weui-cells__title">
                            {$vo.title}
                            <if condition=" (empty($atten)) and (!$CueConfig)">
                                <span style="float:right;display:none;">
                                <else/>
                                <span style="float:right">
                            </if>
                            <span style="float:right">
                                <i class="iconfont icon-xiugai" index="{:U('Light/Config/Dispenser',array('robot'=>'viewProTitlePage','system'=>$system,'mod'=>$modname,'id'=>$vo['id']))}" style="vertical-align: middle;margin: 0 5px" ></i>  
                                <i class="iconfont icon-shanchu" index="{$vo['id']}" style="vertical-align: middle;margin: 0 5px" ></i>
                            </span> 
                        </div>
                        <div class="weui-cells" style="margin-top:0px;">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <div class="weui-uploader">
                                        <div class="weui-uploader__bd" style="height: 75px;">
                                            <ul class="weui-uploader__files" id="app_pro" style="margin-bottom: 0px;">
                                               {$vo.html}
                                            </ul>
                                        </div>
                                        <div class="weui-cells__title" style="padding:0;margin:0;">
                                            <span style="color:black;">  <if condition="!empty($vo['fiexd'])">固定抄送</if></span> 
                                            <if condition=" (empty($atten)) and (!$CueConfig)">
                                                <span style="float:right;display:none;">
                                                <else/>
                                                <span style="float:right">
                                            </if>
                                                <i class="iconfont icon-shezhi1" 
                                                index="{:U('Light/Config/Dispenser',array('robot'=>'proConfig','system'=>$system,'mod'=>$modname,'aid' => $aid,'id'=>$vo['id']))}" 
                                                style="vertical-align: middle;margin: 0 5px;font-size: 20px;" ></i>  
                                            </span> 
                                        </div>
                                        <if condition="!empty($vo['fiexd'])">
                                            <div class="weui-uploader__bd" style="height: 85px;">
                                                {$vo.fiexd}
                                            </div>
                                        </if>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>
                <!-- 流程 END -->
                <!-- 推送 -->
                <!-- <h3 class="titleTab">抄送规则</h3>
                <div class="weui-cells__title">各个中心主管及以上职位的申请抄送</div>
                <div class="weui-cells" style="margin-top:0px;">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-uploader">
                                <div class="weui-uploader__bd" style="height: 85px;">
                                    <ul class="weui-uploader__files" id="app_pro" style="margin-bottom: 0px;">
                                    暂无！
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>auth_div
                </div> -->
                <!-- 推送 END -->
                <!-- 权限详情 -->
                <h3 class="titleTab" id='auth_detail'>权限详情</h3>
                <if condition="$qxc eq 'qxc'">
                    <div class="weui-cells" style="display:none;margin-top:0px;" id="auth_div">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <volist name="purviewList" id="v1">
                                <div class="weui-uploader">
                                    <div class="weui-cells__title" style="padding:0;margin:0;">
                                        <span style="color:black;">  {$v1.title}</span>
                                    </div>
                                    <div class="weui-uploader__bd" style="height: 85px;">
                                        <if condition="$v1['list'] neq ''">
                                        <volist name="v1.list" id="v2">

                                        <li class="weui-uploader__file wk-select__user" id="csl" style="min-height:70px;width: 45px; margin-bottom: 0;margin-right:8px">
                                            <img src={$v2.avatar} class="weui-selet__user" style="margin-right: 6px;margin-top:10px; width: 2em; height: 2em;">
                                            <span style="margin-right: 6px;font-size: 12px;"> {$v2.name}</span>
                                        </li>
                                        </volist>
                                        </if>
                                    </div>
                                </div>
                                </volist>
                            </div>
                        </div>
                    </div>
                    <else />
                    <div class="weui-media-box weui-media-box_small-appmsg" id='auth_div' style="display:none;padding-bottom: 10px;">

                        <div class="weui-cells" style="margin-top:0px;">
                            <div class="weui-cell" style="padding-top: 5px;padding-bottom: 5px;border-bottom: 1px solid #f8f8f8;">
                                <div class="weui-cell__bd">
                                    <div class="weui-uploader">
                                        <div class="weui-uploader__bd">
                                            <div class="weui-cells weui-cells_form">
                                                <div class="weui-cell weui-cell_select weui-cell_select-after" style="line-height: 40px">
                                                    <div class="weui-cell__hd">
                                                        <label class="weui-label">权限功能&nbsp;&nbsp;
                                                        </label>
                                                    </div>
                                                    <div class="weui-cell__hd">
                                                        查看{$show.proName}流程详情
                                                    </div>
                                                </div>
                                                <div class="weui-cell weui-cell_select weui-cell_select-after" style="line-height: 40px">
                                                    <div class="weui-cell__hd">
                                                        <label class="weui-label">权限范围&nbsp;&nbsp;
                                                        </label>
                                                    </div>
                                                    <div class="weui-cell__hd">
                                                        {$group.group}
                                                    </div>
                                                </div>
                                                <div class="weui-cell weui-cell_select weui-cell_select-after" style="line-height: 40px">
                                                    <div class="weui-cell__hd">
                                                        <label class="weui-label">权限人员&nbsp;&nbsp;
                                                        </label>
                                                    </div>
                                                    <div class="weui-cell__hd">
                                                        {$group.leaguer}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </if>

                <!-- 权限详情 END -->
            </div>
        </div>
        
    </div>
</body>
<!-- <script src="__PUBLIC__/assets/js/exif.js"></script> -->
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.3/js/i18n/zh-CN.js"></script>
<!-- <script src="__PUBLIC__/assets/js/vconsole.min.js"></script> -->
<script>
    var del_id = '';
    var $tooltips = $('.js_tooltips');
       
    
    // 错误提示
    function tooltip(text) {
        if ($tooltips.css('display') != 'none') return;
        $('.page.cell').removeClass('slideIn');
        $tooltips.text(text);
        $tooltips.css('display', 'block');
        setTimeout(function () {
            $tooltips.css('display', 'none');
        }, 2000);
    }
    $(".zhineng").click('on', function () {
        $(".zhi").toggle(500);
    });
    $('.icon-xiugai').click(function(){
        var url = $(this).attr('index');
        window.location.href = url;
    });
    $('.icon-shezhi1').click(function(){
        var url = $(this).attr('index');
        window.location.href = url;
    });
    $('.icon-shanchu').click(function(){
        del_id = $(this).attr('index');
        $('#delDialog').show();
    });
    function dialog_cal(){
        del_id = '';
        $('#delDialog').hide();
    }
    $('#auth_detail').click(function(){
        $('#auth_div').toggle();
    });
    function dialog_sure(){
        $('#delDialog').hide();
        $.ajax({
                type:'POST',
                url: "{:U('Light/Config/Dispenser',array('robot'=>'delViewPro'))}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    system : "{$system}",
                    id     : del_id,
                },
                dataType: 'json',
                success: function (res) {
                    if (res.code == 200) {

                        window.location.reload();
                    } else {
                        tooltip(res.msg);
                    }
                }
            });
    }
</script>

</html>