<extend name="Process:pushBase" />

<block name='title'>人员配置</block>
<block name='content'>
    <div class="weui-toptips weui-toptips_warn js_tooltips" style="opacity: 1;">错误提示</div>
    <h3 class="titleTab">{$titleName}--配置</h3>
    <if condition=" (empty($atten)) and (!$CueConfig)">
        <div class="weui-cells__title" style="text-align:right;margin: 0;display:none;">
            <else />
            <div class="weui-cells__title" style="text-align:right;margin: 0;">
    </if>
    &nbsp;&nbsp;<a href="{:U('Light/View/View',array('modname'=>'KfRatioApply', 'system'=>'yxhb'))}" class="weui-btn weui-btn_mini weui-btn_default">关闭</a>
    &nbsp;&nbsp;<a href="{:U('Light/Config/Dispenser',array('robot'=>'upUserDeploy'))}" class="weui-btn weui-btn_mini weui-btn_primary">新增配置</a>
    <volist name='condition' id='val'>
        <div class="weui-cells__title" style="text-align: left;">{$val.title}
            <if condition=" (empty($atten)) and (!$CueConfig)">
                <span style="float:right;display:none;">
                <else/>
                <span style="float:right">
            </if>
            <span style="float:right">
                <i class="iconfont icon-xiugai" index="{:U('Light/Config/Dispenser',array('robot'=>'upUserDeploy', 'id'=>$val['id']))}" style="vertical-align: middle;margin: 0 5px" ></i>
                <i class="iconfont icon-shanchu" index="{$val['id']}" style="vertical-align: middle;margin: 0 5px" ></i>
            </span> 
           
        </div>
        <div class="weui-cells" style="margin-top:0px;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-uploader">
                        <div class="weui-uploader__bd" style="min-height: 75px;">
                            <ul class="weui-uploader__files" id="selectUser" style="margin-bottom: 0px;">
                                {$val.html}
                            </ul>
                        </div>
                        <div class="weui-cells__title" style="padding:0;margin:0;">
                            <if condition=" (empty($atten)) and (!$CueConfig)">
                                <span style="float:right;display:none;">
                                <else/>
                                <span style="float:right">
                            </if>
                                <i class="iconfont icon-shezhi1"
                                index="{:U('Light/Config/Dispenser',array('robot'=>'upUserConfig','id'=>$val['id']))}"
                                style="vertical-align: middle;margin: 0 5px;font-size: 20px;" ></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </volist>
</block>
<block name="push_rule"></block>
<block name="btn"></block>
<block name="model">
    <div class="js_dialog" id="delDialog" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" style="padding:15px;color:#f12e2e;">删除确认</div>
            <div class="weui-dialog__bd">确定要将此人员配置删除？</div>
            <div class="weui-dialog__ft"> 
                <a href="javascript:;" onclick="dialog_cal()" class="weui-dialog__btn weui-dialog__btn_primary">取消</a>
                <a href="javascript:;"  style="color:#f12e2e;" onclick="dialog_sure()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
            </div>
        </div>
    </div>
</block>
<block name="js">
<script>
 var del_id = '';
    var $tooltips = $('.js_tooltips');
       
    
    // 错误提示
    function tooltip(text) {
        if ($tooltips.css('display') != 'none') return;
        $('.page.cell').removeClass('slideIn');
        $tooltips.text(text);
        $tooltips.css('display', 'block');
        setTimeout(function () {
            $tooltips.css('display', 'none');
        }, 2000);
    }
    $(".zhineng").click('on', function () {
        $(".zhi").toggle(500);
    });
    $('.icon-xiugai').click(function(){
        var url = $(this).attr('index');
        window.location.href = url;
    });
    $('.icon-shezhi1').click(function(){
        var url = $(this).attr('index');
        window.location.href = url;
    });
    $('.icon-shanchu').click(function(){
        del_id = $(this).attr('index');
        $('#delDialog').show();
    });
    function dialog_cal(){
        del_id = '';
        $('#delDialog').hide();
    }
    $('#auth_detail').click(function(){
        $('#auth_div').toggle();
    });
    function dialog_sure(){
        $('#delDialog').hide();
        $.ajax({
                type:'POST',
                url: "{:U('Light/Config/Dispenser',array('robot'=>'delUserDeploy'))}",
                dataType: 'json',
                data: {
                    id     : del_id
                },
                dataType: 'json',
                success: function (res) {
                    if (res.code == 200) {
                        window.location.reload();
                    } else {
                        tooltip(res.msg);
                    }
                }
            });
    }
</script>
</block>