<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<block name="able_date">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label" >开票日期
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select" type="text" name="custodian"  id="showDatePicker" readonly value="{$today}" />
            </div>
        </div>
    </div>
</block>

<!-- 去除不可选择日期 end-->
<block name="content_body">
    <div class="weui-cells" id="content1">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">提货单位&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd" id='alter_div'>
                <select class="weui-select" name="user_name[]" id="user_name" multiple="multiple" style="width: 95%;" data-placeholder="范围：总客户[有效]">
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after " id='erji_show_div_two'>
            <div class="weui-cell__hd">
                <label class="weui-label">开票单位&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd ">
                <input class="weui-select" type="text" id="ejkh" name="custodian" readonly placeholder="请先选择提货单位"/>
                <select class="weui-select greyColor" name="type" style='display:none;' id='ejkh_sel'>
                    <option value='-1' disabled selected style='display:none;'>选择开票单位</option>
                    <!-- <option value="P.C32.5R">P.C32.5R</option> -->
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">发票种类&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select iptColor" name="type" id="kp_fpzl">
                    <option selected="" value="普票">普票</option>
                    <option selected="" value="专票">专票</option>
                    <option selected="" value="运票">运票</option>
                    <option value='-1' disabled selected style='display:none;'>选择发票种类</option>
                </select>
            </div>
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label" >&nbsp;&nbsp;&nbsp;开票<br>所属时间
                        <span style="color:red;">*</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-select" type="text" name="custodian"  id="kp_sda" readonly value='{$kp_sda}' /> 至
                    <input class="weui-select" type="text" name="custodian"  id="kp_eda" readonly value="{$kp_eda}" />
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script>
        // 日期选择
        $('#kp_sda').on('click', function () {
            if($('#ratio').val() == 'ratio'){
                ratioTime();
            }else{
                weui.datePicker({
                    start: 2018,
                    end: new Date().getFullYear()+10,
                    defaultValue: [new Date().getFullYear(), new Date().getMonth()+1, new Date().getDate()],
                    onConfirm: function (result) {
                        DateValues(result);

                    },
                    id: 'kp_sda'
                });
            }
        });
        // 日历填充
        function DateValues(dateArr){
            var val = dateArr[0]+'-';
            val +=  dateArr[1]>9?dateArr[1]:'0'+dateArr[1];
            val += '-';
            val +=  dateArr[2]>9?dateArr[2]:'0'+dateArr[2];
            $('#kp_sda').val(val);
        }

        // 日期选择
        $('#kp_eda').on('click', function () {
            if($('#ratio').val() == 'ratio'){
                ratioTime();
            }else{
                weui.datePicker({
                    start: 2018,
                    end: new Date().getFullYear()+10,
                    defaultValue: [new Date().getFullYear(), new Date().getMonth()+1, new Date().getDate()],
                    onConfirm: function (result) {
                        DateValuess(result);

                    },
                    id: 'kp_eda'
                });
            }
        });
        // 日历填充
        function DateValuess(dateArr){
            var val = dateArr[0]+'-';
            val +=  dateArr[1]>9?dateArr[1]:'0'+dateArr[1];
            val += '-';
            val +=  dateArr[2]>9?dateArr[2]:'0'+dateArr[2];
            $('#kp_eda').val(val);
        }

        function ratioTime() {
            // 日期选择
            var hours = [],
                minites = [{ label: '30', value: 30 }],
                symbol = [];

            for (var i = 0; i < 24; i++) {
                var hours_item = {};
                hours_item.label = ('' + i).length === 1 ? '0' + i : '' + i;
                hours_item.value = i;
                hours.push(hours_item);
            }
            var limit = getNowDateTime()<8 ?2:1;
            for (var i = 0; i < limit; i++) {
                $date = new Date();
                var temp = i;
                if(limit == 2){
                    temp  = i-1;
                }
                $date = $date.setDate($date.getDate() + temp);
                $date = new Date($date);

                var Y = $date.getFullYear(),
                    M = $date.getMonth() + 1,
                    D = $date.getDate();

                M = M > 9 ? M : '0' + M;
                D = D > 9 ? D : '0' + D;

                var symbol_item = {};
                symbol_item.label = Y + '-' + M + '-' + D + ' ' + arr_week[$date.getDay()];
                if (the_date ==  Y + '-' + M + '-' + D) {
                    symbol_item.label = '今天';
                }
                symbol_item.value = Y + '-' + M + '-' + D;
                symbol.push(symbol_item);
            }

            weui.picker(symbol, hours, minites, {
                defaultValue: [the_date, $date.getHours() + 1, 0],
                onConfirm: function (result) {
                    pickerValue(result);
                }
            });
        }


        var user_name = $('#user_name'),
            user_id = 0,
            exist = $('#exist'),
            line = $('#line'),
            ye = $('#ye'),
            ysye = $('#ysye'),
            two = $('#two'),
            five = $('#five'),
            ten = $('#ten'),
            twoTime = 0,
            fiveTime = 0,
            tenTime = 0;

        // 审批流程显示
        function app_proHtml(val){
            var html = '';

            for(i=0;i<=val;i++){

                html += "<li class='weui-uploader__file wk-select__user' id='"+appflow[i]['id']+"' style='height:90px;";
                if(i != 0) html+= "margin-left:8px";
                html += "'><img src='"+appflow[i]['avatar']+"' class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>"+
                    "<span style='margin-right: 6px;font-size: 14px;'>"+appflow[i]['name']+"</span>";
                if(i<=val-1){
                    html+="<span class='glyphicon glyphicon-arrow-right' style='position: relative;top: -2.8em;right: -1.8em;color:#f12e2e;'></span>";
                }
                html +=  "</li>";
            }
            return html;
        }

        $(function () {
            // 用户选择
            function formatRepo(repo) { return repo.text; }

            function formatRepoSelection(repo) { return repo.text }
            $("#user_name").select2({
                ajax: {
                    url: "{:U('Light/Api/kpsq_ApplyApi')}"+"&system=kk&modname=kpsq_Apply&action=getCustomerList",
                    dataType: 'json',
                    delay: 350,
                    data: function (params) {
                        $('#alter_div input').eq(0).attr('placeholder', '请选择客户或拼音缩写');
                        return {
                            math: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 0,
                minimumResultsForSearch: 9,
                // allowClear: true,
                language: "zh-CN",
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            });

            $('#alter_div').on('blur','input',function(){
                if(!user_id) $('#alter_div input').eq(0).attr('placeholder', '范围：总客户[有效]');
            })

            // select2 点击触发
            $("#user_name").on("select2:selecting", function (e) {
                $('.select2-selection__choice__remove').click();
                var selectArr = e.params.args.data;

                $('.select2-selection__choice').text(selectArr.text);

                getTempInfo(selectArr.id);
                user_id = selectArr.id;
            });
            $("#user_name").on("select2:unselecting", function (e) {
                user_id = 0;
            });

        });

        // 获取客户用户 各项余额
        function getTempInfo(user_id) {
            kp_sda = $('#kp_sda').val();
            kp_eda = $('#kp_eda').val();

            toastfadeIn(200,'数据加载中');
            $.ajax({
                url: "{:U('Light/Api/kpsq_ApplyApi')}"+"&system=kk&modname=kpsq_Apply&action=getCustomerInfo",
                dataType: 'json',
                data: {
                    'kp_sda': kp_sda,
                    'kp_eda': kp_eda,
                    user_id: user_id
                },
                dataType: 'json',
                success: function (res) {
                    if (res.code != 200) {
                        tooltip('请重新刷新页面！')
                    } else {
                        // var data = res.data, info = data.info, classNmae = '';
                        toast.fadeOut(200);
                    }
                }
            })
        }

        // 提交申请
        $('#submit').click(function () {

            if (user_id == 0) {
                tooltip('请选择用户');
                return;
            }

            if ($('#money')[0].value == -1) {
                tooltip('请选择增加的额度');
                return;
            }
            // 2w 判断
            if ($('#money')[0].value == 0 && twoTime >= 5) {
                tooltip('本月2W临时额度增加次数已达上限！');
                return;
            }
            // 5w 判断
            if ($('#money')[0].value == 1 && fiveTime >= 3) {
                tooltip('本月3W临时额度增加次数已达上限！');
                return;
            }
            // 2w 判断
            if ($('#money')[0].value == 2 && tenTime >= 1) {
                tooltip('本月10W临时额度增加次数已达上限！');
                return;
            }
            // 留言判断
            var reason = $('#reason').val();
            if (reason.length < 5) {
                tooltip('申请理由不得少于5个字！');
                return;
            }
            if (reason.length > 200) {
                tooltip('申请理由不得超过200个字！');
                return;
            }

            toastfadeIn(200,'数据提交中');
            $.ajax({
                type:'POST',
                url: "{:U('Light/Api/TempCreditLineApplyApi')}",
                dataType: 'json',
                data: {
                    user_id: user_id,
                    text: reason,
                    money: money.val(),
                    copyto_id:$("#copyto_id").val(),
                    system:"{$system}",
                    modname:'TempCreditLineApply',
                    action:'submit',
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    if (res.code == 200) {
                        window.location.href = "{$fixed['info']}"+"&aid="+res.aid;
                    } else {
                        tooltip(res.msg);
                    }
                }
            });

        });
    </script>
</block>