<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<block name="able_date"></block>
<!-- 去除不可选择日期 end-->
<block name="system"></block>

<block name="content_body">
    <style>
        body .weui-form-preview__value {
            color: #4e4e4e;
        }

        .no-more {
            display: none;
            text-align: center;
            line-height: 30px;
            color: #cecece;
            font-size: 12px;
            background: #f0f0f0;
        }

        .load-more {
            display: none;
            text-align: center;
            line-height: 30px;
            color: #6ea3f3;
            font-size: 12px;
            border-radius: 5px;
            width: 98%;
            margin: 0 auto;
            border-top: 1px solid rgb(243, 237, 237);
        }


        .load-more:active {
            background: #97d4ff;
            color: #fff;
        }

        #btn-all {
            display: none;
            right: 10px;
            bottom: 10px;
            position: fixed;
            text-align: center;
            z-index: 9;
        }

        label {
            font-weight: 400;
            margin-bottom: 0px;
        }

        .searchCenter {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .addbtn {
            color: #4b4b4b;
        }

        .addbtn:hover {
            color: #b0b0b0;
        }

        .hide {
            display: none;
        }
    </style>
    <input type="hidden" id="ratio" value="ratio">
    <div class="weui-tab" style="height:auto">
        <div class="weui-tab__panel" style="height:auto;padding-bottom: 0">
            <div class="weui-panel weui-panel_access">
                <!-- <div class="weui-panel__hd">审批信息</div> -->
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_small-appmsg">
                        <div class="weui-cells">
                            <span class="weui-media-box weui-media-box_appmsg">
                                <div class="weui-media-box__bd" id="apply_status">
                                    <div
                                        style="display: flex;flex-direction: row;align-items: center;margin-bottom: 1em;">
                                        <img class="weui-media-box__thumb" src="" alt="" id='avatar'
                                            style="border-radius: 5px;width: 2.5em;height: 2.5em;margin-right: 1em;">
                                        <h4 class="weui-media-box__title" style="font-weight: 800;font-size:20px;"
                                            id='title'>
                                            测试测试的费用开支</h4>
                                        <span class="label label-success"
                                            style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
                                    </div>
                                    <div id='content_costmoney'>

                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form" id='fj'>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label" style="width: 100%;">附件上传&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                            <span style="color: #f12e2e;font-size: 14px;">（点击+号，可查看或删除附件）</span>
                        </label>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files " id="uploaderFiles" style="margin-bottom: 0px;float: left;">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="weui-cells" id="content1">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">费用类型&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select greyColor" name="type" id='sqlx'>
                            <option value='-1' disabled selected style='display:none;'>请选择费用类型</option>
                            <option value="1">报销费用</option>
                            <option value="0">用款费用</option>
                        </select>
                    </div>
                    <if condition="$CueConfig">
                        <a href="{:U('Light/Config/Dispenser',array('robot'=>'fylxList','system' => $system ,'modname' => $modname))}">
                            <i class="iconfont icon-xiugai" style="font-size: 18px;vertical-align: middle;position: absolute;top: 0.6em;right: 0.5em;z-index: 200;"></i>
                        </a>
                    </if>
                </div>
                <div class="weui-cell "  id="detail">
                    <div class="weui-cell__hd">
                        <label class="weui-label">费用记录&nbsp;&nbsp;
                        </label>
                    </div>
                    <div class="weui-cell__bd" id='payedRec'>
                        暂无
                    </div>
                </div>
            </div>
</block>
<block name="Process"></block>
<block name="copyto"></block>
<block name="pushto"></block>
<block name="explain"></block>
<block name='attention'></block>
<block name="submit">
    <div class="weui-btn-area">
        <input type="hidden" name="file_names" id="file_names">
        <div class="button-sp-area"
            style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">

            <span id="ratio-agree" class="weui-btn weui-btn_primary" style="width: 90%">确定</span>
        </div>
    </div>
</block>

<block name='js'>
    <script src="__PUBLIC__/assets/js/base64_js.js"></script>
    <script>
        var params = getQueryString('id');
        getContent(params);
        function getContent(params) {
            if (!params) return tooltip('请重新选择付款单号');
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/CostMoneyApi')}",
                dataType: 'json',
                data: {
                    id: params,
                    system: "{$system}",
                    modname: 'CostMoney',
                    action: 'getContent',
                },
                dataType: 'json',
                success: function (res) {
                    $('#avatar').attr('src', res['avatar']);
                    $('#title').text(res['applyerName'] + '的费用开支');
                    makeHtml(res['content']);
                    makefjHtml(res['imgsrc']);
                    makefylxHtml(res['fylxRecord']);
                    var html = '';
                    for( x in res['fylx'] ){
                        html += '<option value="'+res['fylx'][x].val+'">'+res['fylx'][x].name+'</option>';
                    }
                    html += "<option value='-1' disabled selected style='display:none;'>请选择费用类型</option>";
                    $('#sqlx').html(html);
                }
            });
        }
        function makefylxHtml(res) {
            var html = '';
            for( k in res ){
                html += '<div style="padding: 3px 0 0 0;border-bottom: 1px solid #e5e5e5; "><strong>'+res[k]['date']+'('+res[k]['man']+')</strong></div>';
                html += '<div style="padding: 3px 0 0 0px;"><span style="color:black;" >费用类型：'+res[k]['fylx']+'</div>';
            }
            $('#payedRec').html(html);
        }
        function makefjHtml(data) {
            if (data.length == 0) return $('#fj').remove();
            $html = '';
            for (k in data) {
                $html += '<img src="' + data[k] + '" class="fjys" data-original="' + data[k] + '" >';
            }
            $('#uploaderFiles').html($html);
        }
        function makeHtml(data) {
            $html = '';
            for (k in data) {
                $html += '<p class="weui-media-box__desc weui-flex">' +
                    '<span>' + data[k].name + '</span>' +
                    '<span class="weui-flex__item" style="color:'+data[k].color+'">' + data[k].value + '</span>' +
                    '</p>';
            }
            $('#content_costmoney').html($html);
        }
        $('#ratio-agree').click(function () {
            
            if (!params) return tooltip('请联系管理员');
            var fylx = $('#sqlx').val();
            if(fylx == -1 || !fylx)  return tooltip('请选择费用类型');
            toastfadeIn(200, '数据提交中');
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/CostMoneyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    id: params,
                    fylx: fylx,
                    system: "{$system}",
                    modname: 'CostMoney',
                    action: 'submitoffylx',
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    if (res.code == 200) {
                        location.reload();
                    } else {
                        tooltip(res.msg);
                    }
                }
            });
        });

        // 获取URL参数
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        } 
    </script>
</block>