<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<!-- 去除不可选择日期 end-->
<block name="content_body">
    <input type="hidden" id="ratio" value="ratio">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">生产品种&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id='type'>
                    <option value='-1' disabled selected style='display:none;'>请选择生产品种</option>
                    <option value="P.C32.5R">P.C32.5R</option>
                    <option value="P.S.A32.5">P.S.A32.5</option>
                    <option value="P.O42.5">P.O42.5</option>
                    <option value="P.O52.5">P.O52.5</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">生产磨别&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id='mb'>
                    <option value='-1' disabled selected style='display:none;'>请选择生产磨别</option>
                    <option value="1">1#磨</option>
                    <option value="2">2#磨</option>
                    <option value="3">3#磨</option>
                </select>
            </div>
        </div>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">原料选择&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select greyColor" type="text" id="select_ycl" readonly value="点击配置原料" />
            </div>
        </div>
        <div id="ycl_content">

        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">补充库号&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id='mb'>
                    <option value='-1' disabled selected style='display:none;'>请选择库号</option>
                    <option value="9#">9#</option>
                    <option value="15#">15#</option>
                </select>
            </div>
        </div>
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">申请理由&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" id="cnt">
                <textarea class="weui-textarea" name="reason" id="reason" placeholder="申请理由至少5个字(必填);" rows="3"></textarea>
                <div class="weui-textarea-counter">
                    <span id="reason_char">0</span>/200</div>
            </div>
        </div>
    </div>
    <div class="other_page">
        <div class="container">
            <div class="page js_show">
                <h3 class="titleTab" style="text-align: center">配比原料选择</h3>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">熟料</div>
                        <div class="weui-cell__ft">
                            <label for="sl" class="weui-switch-cp">
                                <input id="sl" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">石膏</div>
                        <div class="weui-cell__ft">
                            <label for="sg" class="weui-switch-cp">
                                <input id="sg" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">石灰石</div>
                        <div class="weui-cell__ft">
                            <label for="shs" class="weui-switch-cp">
                                <input id="shs" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">矿粉</div>
                        <div class="weui-cell__ft">
                            <label for="kf" class="weui-switch-cp">
                                <input id="kf" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">粉煤灰2</div>
                        <div class="weui-cell__ft">
                            <label for="fmh" class="weui-switch-cp">
                                <input id="fmh" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">物料3</div>
                        <div class="weui-cell__ft">
                            <label for="wl3" class="weui-switch-cp">
                                <input id="wl3" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">混合材总量</div>
                        <div class="weui-cell__ft">
                            <label for="hhczl" class="weui-switch-cp">
                                <input id="hhczl" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">入库熟料</div>
                        <div class="weui-cell__ft">
                            <label for="switchCP" class="weui-switch-cp">
                                <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked">
                                <div class="weui-switch"></div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="button-sp-area" id="apply-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                    <a href="javascript:;" id="apply-refuse" class="weui-btn weui-btn_warn" style="width: 40%;">取消</a> 
                    <a href="javascript:;" id="apply-agree" class="weui-btn weui-btn_primary" style="width: 40%">确定</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        var label = "生产时间&nbsp;&nbsp;<span style='color:red;'>*</span>",
            datePicker = $('#showDatePicker'),
            the_date = datePicker.val(),
            H = new Date().getHours() + 1,
            H = H > 9 ? H : '0' + H;
        var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
        now = the_date + ' ' + H + ':00';


        // 原材料配置弹出
        $('#select_ycl').click(function () {
            alert(1);
        })

        // 日期插件
        datePicker.val(now);
        $('.weui-label').eq(1).html(label);

        $('.greyColor').change(function () {
            $(this).removeClass('greyColor');
        })

        function ratioTime() {
            // 日期选择
            var hours = [],
                minites = [{ label: '00', value: '00' }, { label: '30', value: 30 }],
                symbol = [];

            for (var i = 0; i < 24; i++) {
                var hours_item = {};
                hours_item.label = ('' + i).length === 1 ? '0' + i : '' + i;
                hours_item.value = i;
                hours.push(hours_item);
            }

            for (var i = 0; i < 4; i++) {
                $date = new Date();
                $date = $date.setDate($date.getDate() - 1 + i);
                $date = new Date($date);

                var Y = $date.getFullYear(),
                    M = $date.getMonth() + 1,
                    D = $date.getDate();

                M = M > 9 ? M : '0' + M;
                D = D > 9 ? D : '0' + D;

                var symbol_item = {};
                symbol_item.label = Y + '-' + M + '-' + D + ' ' + arr_week[$date.getDay()];
                if (i == 1) {
                    symbol_item.label = '今天';
                }
                symbol_item.value = Y + '-' + M + '-' + D;
                symbol.push(symbol_item);
            }

            weui.picker(symbol, hours, minites, {
                defaultValue: [the_date, $date.getHours() + 1, 0],
                onConfirm: function (result) {
                    console.log(result);
                    pickerValue(result);
                }
            });
        }
        // 日历填充
        function pickerValue(dateArr) {
            console.log(dateArr);
            var val = dateArr[0] + ' ';

            val += dateArr[1] > 9 ? dateArr[1] : '0' + dateArr[1];
            val += ':';
            val += dateArr[2];
            $('#showDatePicker').val(val);
        }
        $('#submit').click(function () {
            console.log(datePicker.val());
        });
    </script>
</block>