<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="able_date"></block> 

<!-- 去除不可选择日期 end-->
<block name="content_body">
        <div class="weui-cells" id="content1">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">客户名称&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd" id='alter_div'>
                        <select class="weui-select" name="user_name[]" id="user_name" multiple="multiple" style="width: 95%;" data-placeholder="客户范围为账户有效客户">
                        </select>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd">
                        <label class="weui-label">应收余额&nbsp;&nbsp;

                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input show_number" type="text" name="custodian" readonly placeholder="自动填写" />
                        <span  id="ysye"></span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">信用额度&nbsp;&nbsp;

                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input  show_number" type="text" name="custodian"  readonly placeholder="自动填写" />
                        <span  id="line"></span>
                    </div>

                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd">
                        <label class="weui-label">发货余额&nbsp;&nbsp;

                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input  show_number" type="text" name="custodian"  readonly placeholder="自动填写" />
                        <span  id="ye"></span>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd">
                        <label class="weui-label">已有临额&nbsp;&nbsp;

                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input  show_number" type="text" name="custodian" readonly placeholder="自动填写" />
                        <span  id="exist"></span>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">剩余次数&nbsp;&nbsp;

                        </label>
                    </div>
                    <div class="weui-cell__hd">
                            <input class="weui-input color" type="text" name="custodian" id="two" readonly  placeholder="临额二万元 - 剩余提交次数" />
                            <input class="weui-input color" type="text" name="custodian" id="five" readonly  placeholder="临额五万元 - 剩余提交次数" />
                            <input class="weui-input color" type="text" name="custodian" id="ten" readonly   placeholder="临额十万元 - 剩余提交次数" />
                    </div>
                </div>    
                
        </div>
        <div class="weui-cells" id="content2">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">申请额度&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select iptColor" name="type" id="money">
                            <option selected="" value="0">二万</option>
                            <option selected="" value="1">五万</option>
                            <option selected="" value="2">十万</option>
                            <option value='-1' disabled selected style='display:none;'>请选择所需额度</option>
                        </select>
                    </div>
                </div>
            
            </div> 


            <div id="dialogs">
                <!--BEGIN dialog2-->
                <div class="js_dialog" id="iosDialog2" style="display: none;">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog">
                        <div class="weui-dialog__bd">客户提货余额超过2万，可以不用增加临时额度！</div>
                        <div class="weui-dialog__ft">
                            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                        </div>
                    </div>
                </div>
                <!--END dialog2-->
            </div>
</block>
<block name="js">
    <script>
    var user_name = $('#user_name'),
        user_id = 0, 
        exist = $('#exist'),
        lineshow = $('#line'),
        ye = $('#ye'),
        ysye = $('#ysye'),
        two = $('#two'),
        five = $('#five'),
        ten = $('#ten'),
        twoTime = 0,
        fiveTime = 0,
        tenTime = 0,
        money = $('#money'),
        $iosDialog2 = $('#iosDialog2'),
        app_pro = $('#app_pro');


    var appflow = {$appflow};

    // diog提示
    $('#dialogs').on('click', '.weui-dialog__btn', function () {
        $(this).parents('.js_dialog').hide();
    });

    // 2w额度显示推送
    $('#app_pro .wk-select__user').eq(0).toggle();

    // 选择临时额度
    money.change(function () {
        var val = $(this).val(),html = '';
        if (user_id == 0) {
            tooltip('请选择用户');
            money.val(-1);
            $('#detail').html(html);
        }
        
        if(val==0) return app_pro.html(html);;
        html = app_proHtml(val-1);
        $('#app_pro .wk-select__user').eq(0).toggle();
         
        app_pro.html(html);
    });

    // 审批流程显示
    function app_proHtml(val){
        var html = '';
        console.log(val);
        for(i=0;i<=val;i++){
            
            html += "<li class='weui-uploader__file wk-select__user' id='"+appflow[i]['id']+"' style='height:90px;";        
            if(i != 0) html+= "margin-left:8px";
            html += "'><img src='"+appflow[i]['avatar']+"' class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>"+
                             "<span style='margin-right: 6px;font-size: 14px;'>"+appflow[i]['name']+"</span>";
            if(i<=val-1){
                html+="<span class='glyphicon glyphicon-arrow-right' style='position: relative;top: -2.8em;right: -1.8em;'></span>";
            }                    
            html +=  "</li>";
        }
        return html;
    }
        
    $(function () {
        // 用户选择
        function formatRepo(repo) { return repo.text; }

        function formatRepoSelection(repo) { return repo.text }
        $("#user_name").select2({
            ajax: {
                url: "{:U('Light/Api/TempCreditLineApplyApi')}"+"&system=kk&modname=TempCreditLineApply&action=getCustomerList",
                dataType: 'json',
                delay: 350,
                data: function (params) {
                    $('#alter_div input').eq(0).attr('placeholder', '请选择客户或拼音缩写');
                    console.log(params)
                    return {
                        math: params.term,
                    };
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 0,
            minimumResultsForSearch: 9,
            // allowClear: true,
            language: "zh-CN",
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });
        $('#alter_div').on('blur','input',function(){
            if(!user_id) $('#alter_div input').eq(0).attr('placeholder', '客户范围为账户有效客户');
        })
        // select2 点击触发
        $("#user_name").on("select2:selecting", function (e) {
            $('.select2-selection__choice__remove').click();
            var selectArr = e.params.args.data;
            getTempInfo(selectArr.id,selectArr.text);

            if(selectArr.jc) selectArr.text = selectArr.jc;
            $('.select2-selection__choice').text(selectArr.text);
            
            user_id = selectArr.id;
            money.val('-1');
        });
        $("#user_name").on("select2:unselecting", function (e) {
            app_pro.html('');
            $('.color').val('');
            user_id = 0;
        });

    });

    // 获取客户用户 各项余额
    function getTempInfo(user_id,clientname) {
        toastfadeIn(200,'数据加载中');
        $.ajax({
            url: "{:U('Light/Api/TempCreditLineApplyApi')}"+"&system=kk&modname=TempCreditLineApply&action=getCustomerInfo",
            dataType: 'json',
            data: {
                user_id: user_id
            },
            dataType: 'json',
            success: function (res) {
                if (res.code != 200) {
                    tooltip('请重新刷新页面！')
                } else {
                    var data = res.data, info = data.info;
                    tmp = data.line;
                    

                    getkk(data.line,data.name,clientname);

                    // exist.val(data.exist);
                    // ye.val(data.ye);
                    // ysye.val(data.ysye);
                    
                    // if (data.ysflag) classNmae = 'redColor';
                    
                    // ysye.removeClass('redColor').addClass(classNmae);

                    // if (data.fhye >= 10000) {
                    //     $iosDialog2.fadeIn(200);
                    // }

                    twoTime = info[0].length;
                    fiveTime = info[1].length;
                    tenTime = info[2].length;
                    $('.color').removeClass('redColor greenColor');
                    
                    moneyHtml();
                    if(5-twoTime>0){
                        //two.addClass('greenColor')
                    }else{
                        two.addClass('redColor');
                        $('#money option[value="0"]');
                    }
                    
                    if(3-fiveTime>0){
                        //five.addClass('greenColor')
                    }else{
                        five.addClass('redColor');
                        $('#money option[value="1"]').remove();

                    }
                    if(1-tenTime>0){
                       // ten.addClass('greenColor')
                    }else{
                        ten.addClass('redColor');
                        $('#money option[value="2"]').remove();
                    }
                    
                    two.val('临额二万元 - 剩余'+(5-twoTime)+'次提交');
                    five.val('临额五万元 - 剩余'+(3-fiveTime)+'次提交');
                    ten.val('临额十万元 - 剩余'+(1-tenTime)+'次提交');
                    
                }
            }
        })
    }
    function getkk(line,authCode,user_name){
        $.ajax({
            type:'POST',
            url: "https://www.fjyuanxin.top/sngl/include/getClientCreditApi.php",
            dataType: 'json',
            data: {
                name:user_name,
                auth:authCode
            },
            success: function (res) {
                var  classNmae = '';
                var tmpNum = res['tmp'] == ''? 0 : parseFloat(res['tmp']);// 临时额度
                var yeNum  = res['ye']  == ''? 0 : parseFloat(res['ye']);// 客户余额   发货的=余额+临时
                $('#khye').val(yeNum);
                if (-(line-yeNum)<20000) classNmae = 'redColor';

                ysye.removeClass('redColor').addClass(classNmae);
                
                if ((tmpNum+yeNum) >= 20000) {
                    $iosDialog2.fadeIn(200);
                }
                // console.log(res); 
                lineshow.html("&yen;"+formatMoney(tmp,2));
                exist.html("&yen;"+formatMoney(tmpNum,2));
                ye.html("&yen;"+formatMoney(tmpNum+yeNum,2));
                ysye.html("&yen;"+formatMoney(-(line-yeNum),2));
                $('.show_number').hide();
                toast.fadeOut(200);
            }
        });
    }

    // 金钱格式转换
    function formatMoney(number, places, symbol, thousand, decimal) {
        number = number || 0;
        places = !isNaN(places = Math.abs(places)) ? places : 2;
        symbol = symbol !== undefined ? symbol : "$";
        thousand = thousand || ",";
        decimal = decimal || ".";
        var negative = number < 0 ? "-" : "",
            i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
        return  negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
    }
    // 选择重置
    function moneyHtml(){
        var html = '<option selected="" value="0">二万</option>'+
                '<option selected="" value="1">五万</option>'+
                '<option selected="" value="2">十万</option>'+
                '<option value="-1" disabled selected style="display:none;">请选择所需额度</option>';
        money.html(html);
    }

       // 提交申请
       $('#submit').click(function () {
        
        if (user_id == 0) {
            tooltip('请选择用户');
            return;
        }

        if ($('#money')[0].value == -1) {
            tooltip('请选择增加的额度');
            return;
        }
        // 2w 判断
        if ($('#money')[0].value == 0 && twoTime >= 5) {
            tooltip('本月2W临时额度增加次数已达上限！');
            return;
        }
        // 5w 判断
        if ($('#money')[0].value == 1 && fiveTime >= 3) {
            tooltip('本月3W临时额度增加次数已达上限！');
            return;
        }
        // 2w 判断
        if ($('#money')[0].value == 2 && tenTime >= 1) {
            tooltip('本月10W临时额度增加次数已达上限！');
            return;
        }
        // 留言判断
        var reason = $('#reason').val();
        if (reason.length < 5) {
            tooltip('申请理由不得少于5个字！');
            return;
        }
        if (reason.length > 200) {
            tooltip('申请理由不得超过200个字！');
            return;
        }
       
        toastfadeIn(200,'数据提交中');
        $.ajax({
            type:'POST',
            url: "{:U('Light/Api/TempCreditLineApplyApi')}",
            dataType: 'json',
            data: {
                user_id: user_id,
                text: reason,
                money: money.val(),
                copyto_id:$("#copyto_id").val(),
                system:"{$system}",
                modname:'TempCreditLineApply',
                action:'submit',
                __hash__: hash
            },
            dataType: 'json',
            success: function (res) {
                toast.fadeOut(200);
                if (res.code == 200) {
                    window.location.href = "{$fixed['info']}"+"&aid="+res.aid;
                } else {
                    tooltip(res.msg);
                }
            }
        });

    });
    </script>
</block>