<extend name="Apply:base" />

<block name="process">
    
                                <!-- 2W额度显示 -->
                               
                                <if condition="$content['7']['value'] eq '&yen;20,000.00元'">
                                    <li class='weui-uploader__file wk-select__user' id='{$first.id}' style='height:90px;'>
                                        <img src={$first.avatar} class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                        <span style='margin-right: 6px;font-size: 14px;'>{$first.realname}</span>
                                    </li>
                                </if>
                                <!-- 2W额度显示 end -->
                                <!-- 5w额度显示 -->
                                <if condition="$content['7']['value'] eq '&yen;50,000.00元'">
                                    <li class='weui-uploader__file wk-select__user' id='{$first.id}' style='height:90px;'>
                                        <img src={$first.avatar} class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                        <span style='margin-right: 6px;font-size: 14px;'>{$first.realname}</span>
                                    </li>
                                </if>
                                <!-- 5W额度显示 end -->
                                <!-- 10W额度显示 -->
                                <if condition="$content['7']['value'] eq '&yen;100,000.00元'">
                                    <volist name="proInfo" id="vo">
                                        <if condition="$vo.id eq $first['id']">
                                            <li class='weui-uploader__file wk-select__user' id='{$first.id}' style='height:90px;'>
                                                <img src={$first.avatar} class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                <span style='margin-right: 6px;font-size: 14px;'>{$first.realname}</span>
                                            </li>
                                            <else/>
                                            <li class='weui-uploader__file wk-select__user' id='{$vo.id}' style='height:90px;margin-left:8px'>
                                                <if condition="$vo.avatar eq ''">
                                                    <img src='__PUBLIC__/assets/i/defaulthead.png' class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                    <else/>
                                                    <img src={$vo.avatar} class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                </if>
                                                <span style='margin-right: 6px;font-size: 14px;'>{$vo.realname}</span>
                                                <span class="glyphicon glyphicon-arrow-right" style="position: relative;top: -2.8em;right: 2.0em;"></span>
                                            </li>
                                        </if>
                                    </volist>
                                </if>
                                <!-- 10W额度显示 end -->
                          
</block>
