<extend name="Apply:applyBase" />
<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<!-- 去除可选择日期 -->

<block name="content_body">
    <div class="weui-cells" id="content1">
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">备案名称&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input id="name" name="name" class="weui-input" type="text" placeholder="不超过15个字" maxlength="15" onblur="checkNameIsSet()">
            </div>
        </div>
        <!--  备案名称 END -->
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">联系人员&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input id="contacts" name="contacts" class="weui-input" type="text" placeholder="真实姓名" >
            </div>
        </div>
        <!--  联系人 END -->
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">联系电话&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input id="telephone" name="telephone" class="weui-input" type="number" placeholder="请输入联系电话"  required="">
            </div>
        </div>
        <!--  联系电话 END -->
    </div>
    <!--<a onclick="zydata()">数据转移</a>-->
    <!--<div class="weui-cells">-->
        <!--<block>-->
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__hd">-->
                    <!--<label class="weui-label">相关说明&nbsp;&nbsp;-->
                        <!--<span style="color:red;">*</span>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__bd" id="wordCount">-->
                    <!--<textarea class="weui-textarea" name="info" id="info" placeholder="请输入相关说明(至少5个字);" rows="3"></textarea>-->
                    <!--<div class="weui-textarea-counter">-->
                        <!--<span id="reason_char">0</span>/200-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</block >-->
        <!--&lt;!&ndash;  备案信息 END &ndash;&gt;-->
    <!--</div>-->
</block>

<block name="js">
<script type="text/javascript">
    // $(function(){
    //     /**
    //      * keyup         统计备注的字数，截取前200个字符
    //      * len           备注的长度
    //      */
    //     $("#info").keyup(function(){
    //         var len = $(this).val().length;
    //         if(len > 199){
    //             $(this).val($(this).val().substring(0,200));
    //             $("#reason_char").text(200);
    //         }else{
    //             $("#reason_char").text(len);
    //         }
    //     });
    // });
    

    /**
     * checkItem          检测填写的内容是否有空缺的函数
     * telCheck           电话号码正则
     * check_name         名字正则验证，只能输入中文
     * product            选择备案产品后改变字体颜色
     * check_isset        备案客户名是否已存在的标志位
     * checkNameIsSet     验证新增备案名称是否已存在
     * submit_data        验证通过后提交数据
     */

    $('#submit').on('click',function(){
        checkItem();
    })


    function checkItem() {
        var name = $('#name').val();                          //备案名称
        var contacts = $('#contacts').val();                //联系人
        var telephone = $('#telephone').val();             //联系电话
        var info = $('#reason').val();                    //相关说明
        var time = $('#showDatePicker').val();           //申请日期
        var copyto_id = $("#copyto_id").val();          //抄送的姓名（拼音）

        if(name=='') return tooltip('输入备案名称');
        if(!check_isset) return tooltip('备案名称已存在，请调整后申请!');
        if(!check_name(contacts)) return tooltip('联系人格式有误，请修改!');
        if(!telCheck(telephone)) return tooltip('电话号码的格式有误，请修改!');
        if (info=='') return tooltip('请输入相关说明!');
        if (info.length<5) return tooltip('字数不够!');
        // 数据提交
        submit_data(name,contacts,telephone,info,time,copyto_id);
    }

    function telCheck(telephone) {
        var reg = /^(0|86|17951)?(13[0-9]|15[012356789]|166|17[3678]|18[0-9]|14[57])[0-9]{8}$/;
        var res = reg.test(telephone)
        return res;
    }

    function check_name(true_name) {
        var reg = /^[\u4e00-\u9fa5]/;
        var res = reg.test(true_name)
        return res;
    }

    function submit_data(name,contacts,telephone,info,time,copyto_id) {
        toastfadeIn(200,'数据加载中');
        $.ajax({
            type:'post',
            url: "{:U('Light/Api/NewGuestApplyApi')}"+"&system=kk&modname=NewGuestApply&action=addNewGuest",
            data:{'name':name,'contacts':contacts,'telephone':telephone,'info':info,'time':time,'copyto_id':copyto_id, '__hash__': hash},
            dataType: 'json',
            success: function (res) {
                toast.fadeOut(200);
                if (res.code == 200){
                    window.location.href = "{$fixed['info']}"+"&aid="+res.aid;
                }else{
                    tooltip(res.msg);
                }
            }
        })
    }

    var check_isset = true;
    function checkNameIsSet() {
        var name = $('#name').val();         //备案名称
        $.ajax({
            type:'post',
            url: "{:U('Light/Api/NewGuestApplyApi')}"+"&system=kk&modname=NewGuestApply&action=checkNameIsSet",
            data:{'name':name},
            dataType: 'json',
            success: function (res) {
                check_isset = res;
                if (res == false) return tooltip('备案名称已存在，请调整后申请!');
            }
        })
    }

    //数据转移
    function zydata() {
        $.ajax({
            type:'post',
            url:"{:U('Light/Api/NewGuestApplyApi')}"+"&system=kk&modname=NewGuestApply&action=zydata",
            dataType: 'json',
            success: function (res) {
               console.log(res)
            }
        })
    }

</script>

<!--<script src="__PUBLIC__/assets/js/beian.js"></script>-->
</block>