<extend name="Apply:base" />

<block name="js">
    <script type="text/javascript">
        // $(function () {
        //     var id = getQueryString("aid");
        //    // 内容过滤选择器 选取含有文本内容text的元素
        //    $("p:contains('查看客户调价')").children('span :eq(1)').css('style','cursor: pointer');
        //    $("p:contains('查看客户调价')").children('span :eq(1)').click(function () {
        //        alert('信息中心还在调整中，可先点击查看调价内容');
        //    })
        //
        //
        // })


    </script>>
</block>