<extend name="Task:index" />
<block name="content">
    <style>
        .nothing{
            min-width:67%;
            margin: 0 auto; 
            color: #999;
            text-align: center;
            height: 90%;
            padding-top: 40%;
            display: none;
        }
        .font118{
            font-size: 66px;
        }
        #btn-all {
            right: 10px;
            bottom: 70px;
            position: fixed;
            text-align: center;
            z-index: 999;
        }
        #topDiv{
            text-align: center;
            padding: 10px 0;
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: 1px solid #73717533;
            
        }
        .titleDiv{
            display: inline-block;
            width: 33%;
            border: 1px solid #999;
            padding: 3px 0;
            float: left;
        }
        .titleLeft{
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
        .titleCenter{
        }
        .titleRight{
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }
        .onTitle{
            color: #f6f6f6;
            background-color: #999;
        }
        #show .weui-media-box__title{
            font-size: 13px;
        }
        #show .weui-media-box__desc{
            font-size: 13px;
        }
        .no-more{
        display: none;
        text-align: center;
        line-height: 30px;
        color: #cecece;
        font-size: 12px;
        background: #f0f0f0;
        }
        .load-more{
            display: none;
            text-align: center;
            line-height: 30px;
            color: #6ea3f3;
            font-size: 12px;
            border-radius: 5px;
            width: 98%;
            margin: 0 auto;
            border-top:1px solid rgb(243, 237, 237);
        }
        .load-more:active {
            background: #97d4ff;
            color: #fff;
        }
    </style>
    <ul id='topDiv'>
        <li class="titleLeft titleDiv "         data-url="{:U('Light/task/commission')}">待处理事项</li>
        <li class="titleCenter titleDiv "       data-url="{:U('Light/task/over')}"      >已完成事项</li>
        <li class="titleRight titleDiv onTitle" >草稿</li>
        <li style="clear:both;"></li>
    </ul>
    <div id="btn-all">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">添加</a>
    </div>
    <div id="show">
        
        </div>
        <div class="no-more" >信息已经到底...</div>
        <div class="load-more" >点我加载更多...</div>
    <div class="nothing">
            <i class="font118 iconfont icon-fenleiorguangchangorqita"></i>   
            <h4>暂无草稿</h4>
    </div>

</block>
<block name="js">
    
    <script>
        var page = 1;
        var no_more = $('.no-more'),
            load_more = $('.load-more');
        load_more.click(function () {
            getData();
        })
        getData();
        function getData(){
            $.post("{:U('Light/Task/draftData')}",
                {
                    'page'     : page,
                }, function (data) {
                    res = data.data;
                    if(page == 1 && res.length == 0){
                        $('.nothing').show();
                        load_more.hide();
                        no_more.hide();
                    }else if (res.length < 20) {
                        no_more.show();
                        load_more.hide();
                    } else {
                        page++;
                        load_more.show();
                        no_more.hide();
                    }
                    
                    makehtml(res);
                }
            );
        }
        function makehtml(data){
            var html = '';
            for(i=0;i<data.length;i++){
                html += '<div class="weui-panel" index="'+data[i]['id']+'">'+
                            '<div class="weui-panel__bd">'+
                            '<div class="weui-media-box weui-media-box_text">'+
                                    '<h4 class="weui-media-box__title">'+data[i]['title']+'</h4>'+
                                    '<p class="weui-media-box__desc">'+data[i]['content']+'</p>'+
                                //     '<ul class="weui-media-box__info">'+
                                //         //'<li class="weui-media-box__info__meta">'+data[i]['tjr']+'</li>'+
                                //         '<li class="weui-media-box__info__meta">'+data[i]['submittime']+'</li>'+
                                //         '<li class="weui-media-box__info__meta weui-media-box__info__meta_extra">'+data[i]['tjr']+'</li>'+
                                // ' </ul>'+
                                '</div>'+
                            '</div>'+
                        '</div>';
            }
            $('#show').html(html);
        }
        $('#topDiv').on('click','li',function(){
           var url = $(this).attr('data-url');
           if(url){
               window.location.href = url;
           }
        });
    $('#btn-all').click(function(){
        window.location.href = "{:U('Light/task/makeup')}";
    })
    $('#show').on('click','.weui-panel',function(){
        var idx = $(this).attr('index');
        window.location.href = "{:U('Light/task/change')}"+'&taskid='+idx;
    });
    </script>
    
</block>