<extend name="Task:index" />
<block name="content">
        <style>
                .nothing{
                   
                    min-width:67%;
                    margin: 0 auto; 
                    color: #999;
                    text-align: center;
                    height: 90%;
                    padding-top: 40%;
                }
                .font118{
                    font-size: 118px;
                }
            </style>
            
            <div class="nothing">
                    <i class="font118 iconfont icon-diqiu"></i>   
                    <h4>暂未开放</h4>
            </div>
</block>
<block name="js">

</block>