<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>创建需求</title>
    <link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入 WeUI -->
    <!-- <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" /> -->
    <link rel="stylesheet" href="__PUBLIC__/assets/css/weui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/weMain.css?version=201709012" />
    <link href="__PUBLIC__/assets/css/wc_select2.min.css?version=20170819" rel="stylesheet" />
    <style type="text/css">
        .weui-cells:after {
            border-bottom: 0px solid #fff;
        }

        .weui-selet__user {
            width: 2.5em;
            height: 2.5em;
            margin-bottom: 5px;
            margin-right: 16px;
            border-radius: 5px;
        }

        .wk-select__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 6px;
        }

        .no-select__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 6px;
        }

        .wk-comment__user {
            height: 60px;
            width: 52px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 12px;
        }

        a:hover {
            text-decoration: none;
        }

        label {
            font-weight: 400;
            margin-bottom: 0px;
        }

        .select2-results__option {
            font-size: 16px;
        }

        .select2-search__field {
            line-height: normal;
        }

        /* end */
        .redColor {
            color: #e64340;
        }

        .greenColor {
            color: #16b517;
        }

        .weui-form-preview__value span {
            display: inline-block;
            width: 80px;
            text-align: center;
        }

        .font-width {
            display: inline-block;
            width: 68px;
            text-align: right;

        }

        .greyColor {
            color: #757575;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__rendered {
            padding: 0;
        }

        .other_page {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 999;
        }

        .searchCenter {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .font15 {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="weui-toptips weui-toptips_warn js_tooltips" style="opacity: 1;">错误提示</div>
    <div class="container">
        <div class="page js_show">
            <div class="weui-cells weui-cells_form font15">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">
                            <span class="">模块类型</span>&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="type" id='mod'>
                            <option value='-1' disabled selected style='display:none;'>请选择模块类型</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form font15">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">
                            <span class="">二级类型</span>&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="type" id='modTwo'>
                            <option value='-1' disabled selected style='display:none;'>请选择二级类型</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form font15">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">
                            <span class="">三级类型</span>&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="type" id='modThree'>
                            <option value='-1' disabled selected style='display:none;'>请选择模块类型</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form font15">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label">
                            <span class="">功能定位</span>&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                        </label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="type" id='func'>
                            <option value='-1' disabled selected style='display:none;'>请选择功能定位</option>
                            <option value="7">修改</option>
                            <option value="8">优化</option>
                            <option value="9">新增</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form font15">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">需求标题&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id='title' placeholder="请输入需求标题">
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form font15">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">需求描述&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" name="reason" id="content" placeholder="请输入需求描述" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="weui-cells weui-cells_form ">
                <div class="weui-cell font15">
                    <div class="weui-cell__hd">
                        <label class="weui-label" style="width: 100%;">参与人员&nbsp;&nbsp;<span style="color: #f12e2e">（点击+手动添加参与者）</span>
                        </label>
                    </div>
                </div>
                <div class="weui-cell" style="padding-top: 0px;padding-bottom: 5px;margin-bottom: 10px;">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="selectUser" style="margin-bottom: 0px;">
                                    <volist name="fixed.copydata" id="vo">
                                        <li class='weui-uploader__file no-select__user' style='min-height:80px;margin-bottom: 0;'>
                                            <if condition="$vo.url eq ''">
                                                <img src="Public/assets/i/defaul.png" class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                                <else />
                                                <img src="{$vo.url}" class='weui-selet__user' style='margin-bottom: 0px;margin-right: 6px;margin-top:10px;'>
                                            </if>
                                            <span style='margin-right: 6px;font-size: 14px;'> {$vo.name}</span>
                                        </li>
                                    </volist>
                                </ul>
                                <div class="weui-uploader__input-box" style="width: 2.5em;height: 2.5em;margin-right: 0px;margin-bottom: 0px;margin-top:10px;">
                                    <input id="uploaderInput" class="weui-uploader__input open_model" type="button"
                                        name="copyto" readonly />
                                    <!--data-toggle="modal" data-target="#myModal" -->
                                    <input type="hidden" name="copyto_id" id="copyto_id" value="{$fixed['fiexd_copy_id']}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <input type="hidden" name="file_names" id="file_names">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">提交</a>
            </div>
            <div class="button-sp-area" id="apply-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                <a href="javascript:;" id="apply-agree" class="weui-btn" style="width: 40%;background-color: #a5aba5;">草稿</a>
                <a href="javascript:;" id="apply-refuse" class="weui-btn weui-btn_warn" style="width: 40%;">取消</a>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        width="100%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only copy_to_close">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择人员</h4>
                </div>

                <div class="modal-body" id="select_content" style="padding-top: 0px;padding-bottom: 0px;">
                    <div class="page js_show" style="position: relative;">
                        <div class="page__bd">
                            <div class="weui-search-bar" id="searchBar">
                                <form class="weui-search-bar__form">
                                    <div class="weui-search-bar__box">
                                        <i class="weui-icon-search"></i>
                                        <input type="search" class="weui-search-bar__input " id="searchInput"
                                            placeholder="请输入姓名或拼音缩写搜索" required="">
                                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                                    </div>
                                    <label class="weui-search-bar__label searchCenter" id="searchText">
                                        <i class="weui-icon-search"></i>
                                        <span>请输入姓名或拼音缩写搜索</span>
                                    </label>
                                </form>
                                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">搜索</a>
                            </div>
                            <div class="weui-cells searchbar-result" id="searchResult" style="margin-top: 0px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default copy_to_close" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="pre-level" data-pid="">上一级</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal END-->
    <!--BEGIN dialog-->
    <div id="dialogs">
        <div class="js_dialog" id="iosDialog" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">是否删除参与人</strong></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" onclick="dialog_close()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                    <a href="javascript:;" onclick="dialog_confirm()" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END dialog -->
    <div id="toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">已提交</p>
        </div>
    </div>
    <script src="__PUBLIC__/assets/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/assets/js/select2.min.js"></script>
    <script src="__PUBLIC__/assets/js/zh-CN.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script src="__PUBLIC__/assets/js/exif.js"></script>
</body>
<script>
    // 变量
    var mod = $('#mod'),
        modTwo = $('#modTwo'),
        modThree = $('#modThree'),
        func = $('#func'),
        title = $('#title'),
        content = $('#content'),
        user = $('#copyto_id'),
        $tooltips = $('.js_tooltips'),
        hash = $("meta[name='__hash__']").attr('content'),
        dataMsg = '';
    var $toast = $('#toast');
    // 取消后 返回 我的需求
    $('#apply-refuse').click(function () {
        window.location.href = "{:U('light/Task/commission')}";
    });
    // 草稿
    $('#apply-agree').click(function () {
        var $mod = mod.val(),
            $modTwo = modTwo.val(),
            $modThree = modThree.val(),
            $func = func.val(),
            $title = title.val(),
            $content = content.val(),
            $user = user.val();
        if ( !$title && !$content) return tooltip('标题和内容不能为空');
        $.post("{:U('Light/Task/draft')}",
            {
                'mod'     : mod.val(),
                'modTwo'  : modTwo.val(),
                'modThree': modThree.val(),
                'title'   : title.val(),
                'content' : content.val(),
                'user'    : user.val(),
                __hash__  : hash
            }, function (data) {
                if (data.code != 200) {
                    tooltip(data.msg);
                } else {
                    $toast.fadeIn(100);
                    setTimeout(function () {
                        window.location.href = "{:U('light/Task/commission')}";
                    }, 2000);
                    
                }
            }
        );
    });

    $('#mod').change(function(){
        $.post("{:U('Light/Task/getTwoData')}",
            {
                'mod'     : $(this).val(),
            }, function (data) {
                makeModTwo(data.data[0]);
                var html = "<option value='-1' disabled selected style='display:none;'>请选择二级类型</option>";
                modTwo.html(html);
                dataMsg = data;
            }
        );
    });
    dataMsg.change(function(){
        makeModThree($(this).val());
    });

    function makeModThree(index){
        var html = "<option value='-1' disabled selected style='display:none;'>请选择三级类型</option>";
        for(i=0;i<dataMsg[index].length;i++){
            html += '<option value="'+dataMsg[index][i].id+'">'+dataMsg[index][i].name+'</option>';
        }
        modThree.html(html);
    }
    function makeModTwo(data){
        var html = "<option value='-1' disabled selected style='display:none;'>请选择二级类型</option>";
        for(i=0;i<data.length;i++){
            html += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
        }
        modTwo.append(html);
    }


    // 正式提交
    $.post("{:U('Light/Task/getMod')}",
            {
                'type'     : 1,
            }, function (data) {
                makeMod(data.data);
        }
    );

    function makeMod(data){
        var html = '';
        for(i=0;i<data.length;i++){
            html += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
        }
        mod.append(html);
    }

    // 错误提示
    function tooltip(text) {
        if ($tooltips.css('display') != 'none') return;

        // toptips的fixed, 如果有`animation`, `position: fixed`不生效
        $('.page.cell').removeClass('slideIn');

        $tooltips.text(text);
        $tooltips.css('display', 'block');
        setTimeout(function () {
            $tooltips.css('display', 'none');
        }, 2000);
    }



    // 添加 参与人员 暂定信息中心
    // 抄送
    var loading = '<div class="weui-loadmore"><i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span></div>';
    var noresult = '<div class="weui-loadmore weui-loadmore_line"><span class="weui-loadmore__tips">暂无数据</span></div>';
    var $selectUser = $("#selectUser");
    // Modal
    $('#myModal').on('show.bs.modal', function (e) {
        var id = 1;
        $("#pre-level").attr("data-pid", 0);
        getDepartment(id);
    });
    $('.open_model').on('click', function () {
        $('#myModal').modal('show');
    });
    function getDepartment(id) {
        $('#searchResult').empty();
        $('#searchResult').append(loading);
        $.post("{:U('Light/Apply/getDeptHtml')}",
            {
                "id": id
            }, function (data) {
                $('#searchResult').empty();
                // console.log(data);
                if (data == '') {
                    $('#searchResult').append(noresult);
                } else {
                    $('#searchResult').append(data);
                }
            }
        );
    }
    // up pre-level
    $("#pre-level").on("click", function () {
        $('#searchResult').empty();
        $('#searchResult').append(loading);
        var pid = $(this).attr("data-pid");
        // console.log(pid);
        $.post("{:U('Light/Apply/getParentDeptHtml')}",
            {
                "id": pid
            }, function (data) {
                $('#searchResult').empty();
                // console.log(data);
                if (data == '') {
                    $('#searchResult').append(noresult);
                } else {
                    $('#searchResult').append(data.html);
                    // console.log(data.pid);
                    $("#pre-level").attr("data-pid", data.pid);
                }
            }
        );
    });
    // select department
    $("#searchResult").on("click", ".select-department", function () {
        var id = $(this).attr('data-id');
        var type = $(this).attr('data-type');
        // console.log(id);
        getDepartment(id);
        $("#pre-level").attr("data-pid", id);
    });
    // select department user
    $("#searchResult").on("click", ".select-user", function () {
        // var tmpl = '<li class="weui-uploader__file weui-selet__user" style="background-image:url(#url#)" id="#id#"></li>';
        var tmpl = '<li class="weui-uploader__file wk-select__user" id="#id#" style="height:66px;"><img src="#url#" class="weui-selet__user" style="margin-bottom: 0px;margin-right: 6px;margin-top:10px;" /><span style="margin-right: 6px;font-size: 14px;">#name#</span><span class="weui-badge" style="position: relative;top: -5.8em;right: -1.4em;">X</span></li>';
        var id = $(this).attr('data-id');
        var type = $(this).attr('data-type');
        var img = $(this).attr('data-img');
        var name = $(this).attr('data-name');
        var ids = $("#copyto_id").val() + "," + id;
        // console.log(id);
        tmpl = tmpl.replace('#id#', id);
        tmpl = tmpl.replace('#name#', name);
        $selectUser.append($(tmpl.replace('#url#', img)));
        $("#copyto_id").val(ids);
        $('#searchInput').val(null);
        $('#myModal').modal('hide')
    });
    // delete copyto user
    $("#selectUser").on("click", ".wk-select__user", function () {
        $li_dom = $(this);
        $("#iosDialog").fadeIn(200);
    });

    // Close dialog
    function dialog_close() {
        $("#iosDialog").fadeOut(100);
    }
    // Confirm dialog
    function dialog_confirm() {
        var id = $li_dom.attr("id");
        // console.log(id);
        var ids = $("#copyto_id").val() + ",";
        var old_ids_arr = ids.split(",");
        var id_str = '';
        var location = $.inArray(id, old_ids_arr);
        // // console.log(old_name_arr);
        if (location >= 0) {
            var repl_id = ',' + id + ',';
            id_str = ids.replace(repl_id, ',');
        }
        $("#copyto_id").val(id_str);
        $li_dom.remove();
        $("#iosDialog").fadeOut(100);
    }
    // 抄送搜索
    $(function () {
        var $searchBar = $('#searchBar'),
            $searchResult = $('#searchResult'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');

        function hideSearchResult() {
            // $searchResult.hide();
            $searchInput.val('');
        }
        function cancelSearch() {
            hideSearchResult();
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
        }

        $searchText.on('click', function () {
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        $searchInput
            .on('blur', function () {
                if (!this.value.length) cancelSearch();
            })
            .on('input', function () {
                if (this.value.length) {
                    $searchResult.show();
                    searchCopyUser();
                } else {
                    modelIni()
                }
            })
            ;
        $searchClear.on('click', function () {
            hideSearchResult();
            $searchInput.focus();
        });
        $searchCancel.on('click', function () {
            searchCopyUser();
        });
        $searchInput.on('keypress', function (e) {
            var keycode = e.keyCode;
            var searchName = $(this).val();
            if (keycode == '13') {
                e.preventDefault();

                searchCopyUser();
            }
        });
        function searchCopyUser() {
            word = $searchInput.val();
            if (!word.length) return modelIni();
            $('#searchResult').empty();
            $('#searchResult').append(loading);
            $.post("{:U('Light/Apply/getDeptHtml')}",
                {
                    "type": 1,
                    'search': word
                }, function (data) {
                    $('#searchResult').empty();
                    // console.log(data);
                    if (data == '') {
                        console.log(1);
                        $('#searchResult').append(noresult);
                    } else {
                        console.log(2);
                        $('#searchResult').append(data);
                        // console.log(data.pid);
                        $("#pre-level").attr("data-pid", 17);
                    }
                }
            );
        }

        function modelIni() {
            var id = 1;
            $searchInput.val(null);
            $("#pre-level").attr("data-pid", 0);
            getDepartment(id);
        }
    });
</script>

</html>