<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block> 
<!-- 去除不可选择日期 end-->
<block name="content_body">
   
    <div class="weui-cells ">
        <!-- <div id="data_show"> -->
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">运输公司&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-cell__bd"  id='alter_div'>
                        <select class="weui-select" name="user_name[]" id="user_name" multiple="multiple" style="width: 95%;" data-placeholder="客户范围为账户有效客户">
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="weui-cell ">
                <div class="weui-cell__hd">
                    <label class="weui-label">应付余额&nbsp;&nbsp;

                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input show_number" type="text" name="custodian" readonly placeholder="自动填写" />
                    <span  id="ysye"></span>
                </div>
            </div>   -->
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">合同编号&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select greyColor" name="htbh" id="htbh">
                        
                        <option value='-1' disabled selected style='display:none;'>请选择合同编号</option>
                    </select>
                </div>
            </div>
            <!-- <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">材料名称&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select greyColor" name="type" id="" >
                        <option selected="" value="0">原材料费</option>
                        <option selected="" value="1">汽运费</option>
                        <option value='-1' disabled selected style='display:none;'>请选择材料名称</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label class="weui-label">材料规格&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select iptColor" name="type" id="type" style="color: #757575;">
                        <option selected="" value="0">原材料费</option>
                        <option selected="" value="1">汽运费</option>
                        <option value='-1' disabled selected style='display:none;'>请选择材料规格</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">合同编号&nbsp;&nbsp;
                        <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id="" >
                    <option selected="" value="0">原材料费</option>
                    <option selected="" value="1">汽运费</option>
                    <option value='-1' disabled selected style='display:none;'>请选择合同编号</option>
                </select>
            </div>
        </div> -->
        
    <!-- </div>

    <div class="weui-cells weui-cells_form"> -->
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">付款金额&nbsp;&nbsp;
                        <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select" type="number" maxlength="15" name="custodian" id="money"  placeholder="请输入付款金额" />
                <div class="weui-select" id="show_number"></div>
            </div>
        </div>
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">大写金额&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__bd greyColor" id="show_cap">自动填写
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">付款方式&nbsp;&nbsp;
                        <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select greyColor" name="type" id="type">
                    <option selected="" value="4">现金</option>
                    <option selected="" value="2">公户</option>
                    <option selected="" value="3">汇票</option>
                    <option value='-1' disabled selected style='display:none;'>请选择付款方式</option>
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after bank">
                <div class="weui-cell__hd">
                    <label class="weui-label">银行账号&nbsp;&nbsp;
                            <span style="color:red;">*</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select greyColor" name="type" id='accout'>
                        <option value='-1' disabled selected style='display:none;'>请选择银行账号</option>
                    </select>
                </div>
            </div> 
        <div class="weui-cell  bank">
            <div class="weui-cell__hd">
                <label class="weui-label">账户信息&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__hd"  id='bank_info' >
                    <input class="weui-input color" type="text" name="custodian" id="two" readonly  value="账户名称：福建金鑫源节能建材有限公司" />
                    <input class="weui-input color" type="text" name="custodian" id="five" readonly  value="开户银行：农业银行罗源支行" />
            </div>
        </div> 
        
 
    </div>


</block>
<block name="js">
    <script src="__PUBLIC__/assets/js/AmountConversionformat.js"></script>
<script>
    
    
    var money    = $('#money'),
        show_cap = $('#show_cap'),
        ysye     = $('#ysye'),
        submit   = $('#submit'),
        bank     = $('.bank'),
        htbh     = $('#htbh'),
        htbhArr  = [],
        show     = $('#bank_info'),
        accout   = $('#accout'),
        gyszh    = 0,
        user_id  = '',
        g_name   = '',
        ysyeVal  = 0,
        type     = 0;

        bank.toggle();


    var init_data = {
        'input':money,
        'show_div':$('#show_number'),
        'symbol':"&yen;",
        'input_show_bool':false
    };
    var forTest =new AmountConversionformat(init_data);
    forTest.init();
    $('#type').change(function(){
        $(this).removeClass('greyColor');
    });

    // 合同数据
    getHtbh()
    function getHtbh(){
        $.ajax({
                type:'POST',
                url: "{:U('Light/Api/WlCgfkApplyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    system:"{$system}",
                    modname:'WlCgfkApply',
                    action:'getHtbh'
                },
                dataType: 'json',
                success: function (res) {
                    htbhArr = res;
                }
            });
    }
    // 合同选择
    $('#htbh').click(function(){
        if(!user_id) return tooltip('请选择运输公司');
        
    });
 $(function () {
        // 金额输入 显示大写
        money.keyup(function(){
            var money = $(this).val();
            if(money.length > 15){
                money = money.substr(0,15);
                $(this).val(money);
            }
            var cap = AmountLtoU(money);
            if(cap == '零元整'){
                show_cap.removeClass('redColor');
                show_cap.addClass('greyColor');
                show_cap.html('自动填写');
            }else{
                show_cap.removeClass('greyColor');
                show_cap.addClass('redColor');
                show_cap.html(cap);  
            }
               
        });

        // 用户选择
        function formatRepo(repo) { return repo.text; }

        function formatRepoSelection(repo) { return repo.text }
        $("#user_name").select2({
            ajax: {
                url: "{:U('Light/Api/WlCgfkApplyApi')}"+"&system=yxhb&modname=WlCgfkApply&action=getWlCustomerList",
                dataType: 'json',
                delay: 350,
                data: function (params) {
                    $('#alter_div input').eq(0).attr('placeholder', '请选择客户或拼音缩写');
                    return {
                        math: params.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 0,
            minimumResultsForSearch: 9,
            // allowClear: true,
            language: "zh-CN",
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });
        $('#alter_div').on('blur','input',function(){
            if(!user_id) $('#alter_div input').eq(0).attr('placeholder', '客户范围为账户有效客户');
        })
        // select2 点击触发
        $("#user_name").on("select2:selecting", function (e) {
            $('.select2-selection__choice__remove').click();
            var selectArr = e.params.args.data;
            user_id = selectArr.id;
            g_name  = selectArr.text;
            //console.log(g_name);
            if(selectArr.text.length > 9) {
                selectArr.text =  selectArr.text.replace(/有限/, "");
                selectArr.text =  selectArr.text.replace(/责任/, "");
                selectArr.text =  selectArr.text.replace(/公司/, "");
            }
            $('.select2-selection__choice').text(selectArr.text);
            //getSupplyPayment();
            makeHtbhOption()
        });
        $("#user_name").on("select2:unselecting", function (e) {
            user_id = '';
            g_name  = '';
            $('.show_number').show();
            ysye.html('');
            $('#type').val(-1).addClass('greyColor');
            bank.fadeOut(200);
            gyszh    = 0
        });   
        
        // 获取应收余额
        function getSupplyPayment(){
            toastfadeIn(200,'数据加载中');
            $.ajax({
                type:'POST',
                url: "{:U('Light/Api/WlCgfkApplyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    user_id: user_id,
                    system:"{$system}",
                    modname:'WlCgfkApply',
                    action:'getSupplyPaymentApi'
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    var className = '';
                    $('.show_number').hide();
                    if(res.ye > 0) className="redColor";
                    ysyeVal = res.ye.toFixed(2);
                  
                    ysye.removeClass('redColor').addClass(className);
                    ysye.html("&yen;"+formatMoney(res.ye,2));
                }
            });
        }
        


        // 金钱格式转换
        function formatMoney(number, places, symbol, thousand, decimal) {
            number = number || 0;
            places = !isNaN(places = Math.abs(places)) ? places : 2;
            symbol = symbol !== undefined ? symbol : "$";
            thousand = thousand || ",";
            decimal = decimal || ".";
            var negative = number < 0 ? "-" : "",
                i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
            return  negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
        }

        // 类型选择
        $('#type').change(function(){
            type = $(this).val();
            if(!user_id) return tooltip('请选择运输公司');

            if(type == 3) {
                gyszh    = 0
                return bank.fadeOut(200);
            }
            $.ajax({
                type:'POST',
                url: "{:U('Light/Api/WlCgfkApplyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    type    : type,
                    g_name  : g_name,
                    user_id : user_id,
                    system  : "{$system}",
                    modname : 'WlCgfkApply',
                    action  : 'bankInfo'
                },
                dataType: 'json',
                success: function (res) {
                    if(res.length == 0){
                        bank.fadeOut(200);
                        tooltip('无此银行信息，请先添加');
                    } else{
                        bank.fadeIn(200);
                        bank_info = res;
                        show.html('<input class="weui-input color" type="text" name="custodian" readonly   placeholder="自动填写" />');
                        makeOption();
                    }
                }
            });

        });
        // 银行账号选择
        function makeOption(){
            var optionStr = '';
            for(i=0;i<bank_info.length;i++){
                optionStr += '<option selected="" index='+bank_info[i]['id']+' value="'+i+'">'+bank_info[i]['bank_account']+'</option>'; 
            }
            optionStr += '<option value="-1" disabled selected style="display:none;">请选择银行账号</option>';
            accout.html(optionStr);
        }

        // 合同编号选择
        function makeHtbhOption(){
            var optionStr = '';
            for(i=0;i<htbhArr.length;i++){
                if(htbhArr[i].ht_wl != user_id) continue;
                optionStr += '<option selected=""  value="'+htbhArr[i].ht_dh+'">'+htbhArr[i].ht_dh+'</option>'; 
            }
            if(!optionStr) return getHyht(user_id);
            optionStr += '<option value="-1" disabled selected style="display:none;">请选择合同编号</option>';
            htbh.html(optionStr);
        }
        // 获取海运合同
        function getHyht(id){
            $.ajax({
                type:'POST',
                url: "{:U('Light/Api/WlCgfkApplyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    system : "{$system}",
                    modname: 'WlCgfkApply',
                    action : 'getHyht',
                    g_name : g_name,
                    user_id: id,
                },
                dataType: 'json',
                success: function (res) {
                    var optionStr = '';
                    for(i=0;i<res.length;i++){
                        optionStr += '<option selected="" index='+res[i]['ht_dh']+' value="'+i+'">'+res[i]['ht_dh']+'</option>'; 
                    }
                    optionStr += '<option value="-1" disabled selected style="display:none;">请选择合同编号</option>';
                    
                    htbh.html(optionStr);
                }
            });
        }
        accout.change(function(){
            var index = $(this).val();
            makeOption();
            gyszh = bank_info[index]['id'];
            var html = '<input class="weui-input color" style="font-size:14px;" type="text" name="custodian"  readonly  value="账户名称：'+bank_info[index]['bank_zhmc']+'" />'+
                        '<input class="weui-input color"  style="font-size:14px;" type="text" name="custodian" readonly  value="开户银行：'+bank_info[index]['bank_khh']+'" />'+
                        '<input class="weui-input color"  style="font-size:14px;" type="text" name="custodian" readonly  value="银行账号：'+bank_info[index]['bank_account']+'" />';
            show.html(html);
        })

        submit.click(function(){

            // console.log(gyszh);
            // return tooltip('测试中...稍等2分钟');
            // 公司检测
            if(!user_id) return tooltip('请选择汽运公司');
            // 付款金额
            if(money.val()<= 0) return tooltip('付款金额不能小于0');
            // 付款合同
            if(htbh.val() == -1 ) return tooltip('请选择合同编号');
            // 付款方式
            if($('#type').val() == -1 || $('#type').val() == null) return tooltip('请选择付款方式');
            // 账号检测
            if(gyszh == 0 && ($('#type').val() == 2 || $('#type').val() == 4)) return tooltip('请选择银行账号');
            // 备注检测
            var notice = $('#reason').val();
            if(notice.length<5) return tooltip('备注不能少于5个字');
            
            toastfadeIn(200,'数据提交中');
            $.ajax({
                type:'POST',
                url: "{:U('Light/Api/WlCgfkApplyApi')}", //&system=yxhb&modname=CgfkApply&action=getCustomerList
                dataType: 'json',
                data: {
                    user_id  : user_id,
                    text     : notice,
                    money    : money.val(),
                    copyto_id:$("#copyto_id").val(),
                    //ysye:ysyeVal,
                    g_name   : g_name,
                    htbh     : htbh.val(),
                    type     : $('#type').val(),
                    system   : "{$system}",
                    modname  : 'WlCgfkApply',
                    action   : 'wlsubmit',
                    gyszh    : gyszh,
                    __hash__ : hash
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    if (res.code == 200) {
                        window.location.href = "{$fixed['info']}"+"&aid="+res.aid;
                    } else {
                        tooltip(res.msg);
                    }
                }
            });
        });
    });



    function AmountLtoU(num) {
         ///<summery>小写金额转化大写金额</summery>
         ///<param name=num type=number>金额</param>
         if (isNaN(num)) return "";
         var strPrefix = "";
         if (num < 0) strPrefix = "(负)";
         num = Math.abs(num);
         if (num >= 1000000000000) return "您输入的数字太大，重新输入";
         var strOutput = "";
         var strUnit = '仟佰拾亿仟佰拾万仟佰拾元角分';
         var strCapDgt = '零壹贰叁肆伍陆柒捌玖';
         num += "00";
         var intPos = num.indexOf('.');
         if (intPos >= 0) {
             num = num.substring(0, intPos) + num.substr(intPos + 1, 2);
         }
         strUnit = strUnit.substr(strUnit.length - num.length);
         for (var i = 0; i < num.length; i++) {
             strOutput += strCapDgt.substr(num.substr(i, 1), 1) + strUnit.substr(i, 1);
         }
         return strPrefix + strOutput.replace(/零角零分$/, '整').replace(/零[仟佰拾]/g, '零').replace(/零{2,}/g, '零').replace(/零([亿|万])/g, '$1').replace(/零+元/, '元').replace(/亿零{0,3}万/, '亿').replace(/^元/, "零元");
     };

</script>
</block>