<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<block name="content_body">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">客户名称&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd" id='alter_div'>
                <select class="weui-select" name="user_name[]" id="user_name" multiple="multiple" style="width: 95%;" data-placeholder="客户范围为客户[有效]">
                </select>
            </div>
        </div>
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">返利配置&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select " type="text" readonly id="select_ycl" style="color: #337ab7;" value="点击配置返利" />
            </div>
        </div>
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="font-width">返利详情</span>&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__hd" >
                <div id="ycl_content">

                </div>
                <div id="param_div">
                    <span class=" greyColor"  >自动填写</span>
                </div>
            </div>
        </div>
    </div>

    <div class="other_page" id="other_page" style="display: none;">
        <div class="container">
            <div class="page js_show">
                <h3 class="titleTab" style="text-align: center">汇票录入</h3>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">收票日期&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian" id="hpDatePicker_1" readonly value="{$today}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">开票日期&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian" id="hpDatePicker_2" readonly value="{$today}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">到期日期&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian" id="hpDatePicker_3" readonly value="{$today}" />
                        </div>
                    </div>
                </div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">汇票号码</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="text" name="" id="hphm" placeholder="仅填写汇票号码的下面一行">
                        </div>
                    </div>
                </div>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">汇票媒介</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select greyColor" name="type" id='mj'>
                                <option value='-1' disabled selected style='display:none;'>请选择汇票媒介</option>
                                <option value="纸质汇票">纸质汇票</option>
                                <option value="电子汇票">电子汇票</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">汇票性质</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select greyColor" name="type" id='xz'>
                                <option value='-1' disabled selected style='display:none;'>请选择汇票性质</option>
                                <option value="银行">银行</option>
                                <option value="商业">商业</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">开票银行</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select greyColor" name="type" id='kpyh1'>
                                <option value='-1' disabled selected style='display:none;'>请选择开票银行</option>
                                <option value="建设银行">建设银行</option>
                                <option value="工商银行">工商银行</option>
                                <option value="中国银行">中国银行</option>
                                <option value="农业银行">农业银行</option>
                                <option value="交通银行">交通银行</option>
                                <option value="民生银行">民生银行</option>
                                <option value="光大银行">光大银行</option>
                                <option value="兴业银行">兴业银行</option>
                                <option value="海峡银行">海峡银行</option>
                                <option value="农商银行">农商银行</option>
                                <option value="厦门银行">厦门银行</option>
                                <option value="其他银行">其他银行</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after " id="bank_name_div">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">银行名称</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="text" name="" id="bank_name" placeholder="名称不一致,填入汇款单位名称">
                        </div>
                    </div>

                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">出票金额&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="number" name="custodian" id="money_1" placeholder="请输入出票金额" />
                            <div class="weui-select" id="show_number_1"></div>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                            <div class="weui-cell__hd">
                                <label class="weui-label">背书情况&nbsp;&nbsp;
                                    <span style="color:red;">*</span>
                                </label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-select" type="number" name="custodian" id="bsqk" placeholder="请输入背书次数" />
                            </div>
                        </div>
                </div>
                <div class="weui-cells weui-cells_form">

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">附件上传&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles" style="margin-bottom: 0px;float: left;">
                            </ul>
                            <div class="weui-uploader__input-box">
                                <input onclick="imgUpload()" class="weui-uploader__input" />
                                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" name="file_image[]" multiple style="display: none;"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">相关说明&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd" id="cnt">
                            <textarea class="weui-textarea" name="reason" id="hpsm" placeholder="请输入相关说明；
签收后仍可使用撤销功能；" rows="2"></textarea>
                            <div class="weui-textarea-counter">
                                <span id="reason_char">0</span>/200</div>
                        </div>
                    </div>
                </div>
                <div class="button-sp-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                    <a href="javascript:;" id="ratio-refuse" class="weui-btn weui-btn_warn" style="width: 40%;">取消</a>
                    <a href="javascript:;" id="ratio-agree" class="weui-btn weui-btn_primary" style="width: 40%">确定</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name='js'>
    <script>
     var user_id = '';
        // 用户选择
        $(function () {
            // 用户选择
            function formatRepo(repo) { return repo.text; }

            function formatRepoSelection(repo) { return repo.text }
            $("#user_name").select2({
                ajax: {
                    url: "{:U('Light/Api/SalesReceiptsApplyApi')}" + "&system=kk&modname=SalesReceiptsApply&action=getCustomerList",
                    dataType: 'json',
                    delay: 350,
                    data: function (params) {
                        $('#alter_div input').eq(0).attr('placeholder', '请选择客户或拼音缩写');
                        return {
                            math: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 0,
                minimumResultsForSearch: 9,
                // allowClear: true,
                language: "zh-CN",
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            });
            $('#alter_div').on('blur','input',function(){
                if(!user_id) $('#alter_div input').eq(0).attr('placeholder', '客户范围为客户[有效]');
            })
            // select2 点击触发
            $("#user_name").on("select2:selecting", function (e) {
                $('.select2-selection__choice__remove').click();
                var selectArr = e.params.args.data;

                getAuth(selectArr.id,selectArr.text);

                if (selectArr.text.length > 9) {
                    selectArr.text = selectArr.text.replace(/有限/, "");
                    selectArr.text = selectArr.text.replace(/责任/, "");
                    selectArr.text = selectArr.text.replace(/公司/, "");
                }
                $('.select2-selection__choice').text(selectArr.text);
                user_id = selectArr.id;
                money.val('');
                
            });
            $("#user_name").on("select2:unselecting", function (e) {
                $('.color').val('');
                user_id = 0;
            });

        });
    </script>
</block>