<extend name="Apply:base" />

<block name="show_title">
    <div style="display: flex;flex-direction: row;align-items: center;margin-bottom: 1em;">
        <img class="weui-media-box__thumb" index="{$stat}" i="{apply.stat}" src="{$avatar}" alt="" style="border-radius: 5px;width: 2.5em;height: 2.5em;margin-right: 1em;">
        <h4 class="weui-media-box__title" style="font-weight: 800;font-size:20px;">{$applyer}的{$title|str_replace="表",'',###}</h4>
        <eq name="stat" value="1">
            <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
        </eq>
        <eq name="stat" value="2">
            <eq name="apply.stat" value="2">
                <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
            </eq>
            <eq name="apply.stat" value="1">
                <span class="label label-danger" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已退审</span>
            </eq>
            <eq name="apply.stat" value="0">
                    <eq name="isSigning" value='会审'>
                            <span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">会审中</span>
                        <else/>
                            <span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">审批中</span>
                    </eq>
            </eq>
        </eq>
        <eq name="stat" value="3">
            <span class="label label-default" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已撤销</span>
        </eq>
    </div>
</block>


<block name="js">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/viewer.css" />
        <script src="__PUBLIC__/assets/js/viewer.js"></script>
        
        <script>
              
            $('#viewer').viewer({
                url: 'data-original',
            });
        </script>
    
</block>