<extend name="Apply:base" />


<block name="show_title">
    <div style="display: flex;flex-direction: row;align-items: center;margin-bottom: 1em;">
        <img class="weui-media-box__thumb" src="{$avatar}" alt="" style="border-radius: 5px;width: 2.5em;height: 2.5em;margin-right: 1em;">
        <h4 class="weui-media-box__title" style="font-weight: 800;font-size:20px;">{$applyer}的{$title|str_replace="表",'',###}</h4>
        <eq name="stat" value="1">
            <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已签收</span>
        </eq>
        <eq name="stat" value="2">
            <span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">签收中</span>
        </eq>
        <eq name="stat" value="0">
            <span class="label label-default" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已撤销</span>
        </eq>
        <eq name="stat" value="3">
            <span class="label label-danger" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已拒收</span>
        </eq>
    </div>
</block>

<block name="content_body">
    <volist name="content" id="val">
        <p class="weui-media-box__desc weui-flex">
            <span style="display: inline-block; ">{$val.name}</span>
            <span class="weui-flex__item" id="{$val.id}"  style="color:{$val.color} ">
                {$val.value}
            </span>
        </p>
    </volist>
</block>

 



<block name="process_record">
    <div class="weui-panel" style="margin-top: 0px;">
        <div class="weui-panel__hd" style="font-size: 16px;background-color: #f8f8f8;color:black;padding-top: 10px;">签收记录</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_small-appmsg" style="padding-bottom: 10px;">
                <div class="weui-cells">

                    <if condition="empty($process)">
                        <span class="weui-media-box weui-media-box_appmsg" style="    align-items: flex-start;padding-top: 10px;">
                            <h4 class="weui-media-box__title" style="/*font-weight: 800;*/margin-top: 0px;margin-bottom: 5px;color:grey;">
                                无签收记录
                            </h4>
                        </span>
                        <else/>
                        <volist name="process" id="proc">
                            <span class="weui-media-box weui-media-box_appmsg" style="    align-items: flex-start;padding-top: 10px;">
                                <div class="weui-media-box__hd" style="width: 2.5em;height: 2.5em;">
                                    <img class="weui-media-box__thumb" src="{$proc.avatar}" alt="" style="border-radius: 5px;">
                                </div>
                                <div class="weui-media-box__bd">
                                    <h4 class="weui-media-box__title" style="/*font-weight: 800;*/margin-top: 0px;margin-bottom: 5px;color:grey;">
                                        <eq name="proc.app_stat" value="0"> {$proc.per_name}&nbsp;&nbsp;&nbsp;&nbsp;[签收中]</eq>
                                        <eq name="proc.app_stat" value="1"> {$proc.per_name}&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span style="color:red;">[已拒收]</span>
                                        </eq>
                                        <eq name="proc.app_stat" value="2">
                                            <if condition="$proc.app_name eq '已转审'">
                                                {$proc.per_name}&nbsp;&nbsp;&nbsp;&nbsp;[已转签]
                                                <else/> {$proc.per_name}&nbsp;&nbsp;&nbsp;&nbsp;[已签收]
                                            </if>
                                        </eq>
                                    </h4>
                                    <p class="weui-media-box__desc" style="display: block;overflow: visible; word-break:break-all; word-wrap:break-word;margin-bottom: 0px;color:black;">
                                        {$proc.app_word}
                                    </p>
                                    <p class="weui-media-box__desc" style="display: block;overflow: visible; word-break:break-all; word-wrap:break-word;font-size: 15px;margin-bottom: 0px;">
                                        {$proc.approve_time|substr=2,14}
                                    </p>
                                </div>
                            </span>
                        </volist>
                    </if>
                </div>
            </div>
        </div>
    </div>
    <div class="other_page" id="other_page" style="display: none;    
                                                    position: fixed;
                                                    left: 0;
                                                    top: 0;
                                                    height: 100%;
                                                    width: 100%;
                                                    z-index: 999;">
        <div class="container">
            
            <div class="page js_show">
                <h3 class="titleTab" style="text-align: center">汇票详情</h3>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">收票日期&nbsp;&nbsp;
                                
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"  readonly value="{$mydata.spda}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">开票日期&nbsp;&nbsp;
                               
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian" readonly value="{$mydata.kpda}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">到期日期&nbsp;&nbsp;
                               
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"  readonly value="{$mydata.dqda}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">剩余天数&nbsp;&nbsp;
                               
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"  readonly value="{$mydata.remaining}" />
                        </div>
                    </div>
                </div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">汇票号码</span>&nbsp;&nbsp;
                               
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="text"   value="{$mydata.hphm}"  >
                        </div>
                    </div>
                </div>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">汇票媒介&nbsp;&nbsp;
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"  readonly value="{$mydata.mj}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">汇票性质&nbsp;&nbsp;
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"  readonly value="{$mydata.xz}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">开票银行&nbsp;&nbsp;
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select" type="text" name="custodian"   value="{$mydata.kpyh}" />
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label class="weui-label">出票金额&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <div class="weui-select">{$mydata.nmoney}</div>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                            <div class="weui-cell__hd">
                                <label class="weui-label">背书情况&nbsp;&nbsp;
                                </label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-select" type="number" name="custodian" readonly value="{$mydata.bsqk}" />
                            </div>
                        </div>
                </div>
                <div class="weui-cells weui-cells_form">

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">附件上传&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="viewer" style="margin-bottom: 0px;float: left;">
                                    <li class="weui-uploader__file" >
                                        <img style="width:100%;height:100%;" src="https://www.fjyuanxin.com/yxhb/upload/hp/{$mydata.att_name}" data-original="https://www.fjyuanxin.com/yxhb/upload/hp/{$mydata.att_name}"  alt="" srcset="">
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">相关说明&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd" id="cnt">
                            <textarea class="weui-textarea" name="reason"readonly rows="2">{$mydata.ntext}</textarea>
                            <div class="weui-textarea-counter">
                                <span id="reason_char">0</span>/200</div>
                        </div>
                    </div>
                </div>
                <div class="button-sp-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                    <a href="javascript:;" id="ratio-refuse" class="weui-btn weui-btn_warn" style="width: 40%;margin-top: 20px;">关闭</a>
                </div>
            </div>
        </div>
    </div>
</block>





<block name="apply">
    <eq name="isApplyer" value="1">
        <eq name="stat" value="2">
            <eq name="apply.stat" value="0">
                <div class="weui-panel" style="margin-top: 0px;">
                    <div class="weui-panel__hd" style="font-size: 16px;background-color: #f8f8f8;color:black;padding-top: 10px;">签收意见</div>
                    <div class="weui-panel__bd">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <textarea class="weui-textarea" placeholder="请输入签收意见;
签收意见可@指定人;
无指定默认@所有人（含抄送）;" rows="3" id="comment" style="font-size: 1.2em">{$per_word}</textarea>
                                <div class="weui-textarea-counter">
                                    <!-- 指定@ -->
                                    <div class="weui-tabbar" style="position: initial;">
                                        <a href="#" class="weui-tabbar__item" style="text-decoration: none;">
                                            <p class="weui-tabbar__label" style="font-size: 15px;color:black;" id="btn-sp">
                                                <span class="glyphicon" aria-hidden="true" style="margin-right: 5px;"></span>@ 指定人</p>
                                        </a>
                                    </div>
                                    <div class="page js_show" id="approve_at" style="position: relative;display: none;">
                                        <div class="page__bd">
                                            <div class="weui-cells" id="" style="margin-top: 5px;margin-bottom: 5px;">
                                                <div class="weui-uploader">
                                                    <div class="weui-uploader__bd" style="margin-right: 0px;margin-bottom: 0px;padding-top: 12px;">
                                                        <ul class="weui-uploader__files" id="selectapprovetUser" style="margin-bottom: 0px;">
                                                        </ul>
                                                        <input type="hidden" name="approve_to_id" id="approve_to_id">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="weui-cells searchbar-result" id="approveSearchResult" style="margin-top: 0px;">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end   指定@ -->
                                </div>
                            </div>

                        </div>
                        <div class="button-sp-area" id="apply-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                            <a href="javascript:;" id="apply-agree-qs" class="weui-btn weui-btn_primary" style="width: 40%">签收</a>
                            <a href="javascript:;" id="apply-refuse-qs" class="weui-btn weui-btn_warn" style="width: 40%;">拒收</a>
                            <!-- <a href="javascript:;" class="weui-btn weui-btn_default">转审</a> -->
                            <input type="hidden" name="apply_user" id="apply_user" value="{$applyerID}">
                        </div>
                    </div>
                </div>
            </eq>
        </eq>
    </eq>
</block>

<block name="js">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/viewer.css" />
        <script src="__PUBLIC__/assets/js/viewer.js"></script>
    <script>
        $(function () {
            $('#viewer').viewer({
                url: 'data-original',
            });
        })
        // apply
         // apply
         $('#ratio-refuse').click(function () {
            $('#other_page').fadeOut(200);
        });

        // 点击汇票按钮跳出汇票页面
        $('#btnhp').click(function () {
            $('#other_page').fadeIn(200);
        });
        
        $("#apply-area").on("click", "#apply-agree-qs,#apply-refuse-qs", function () {
            $('#loadingToast').fadeIn(100);
            var type = $(this).attr("id");
            var option = 0;

            //审批值传入
            var comment = $("#comment").val();
            var apply_user = $("#apply_user").val();
            var copyto_id = $("#copyto_id").val();
            var id = $("#aid").val();
            var hash = $(":input[name='__hash__']").val();
            var approve_id = $("#approve_to_id").val();
            //console.log(approve_id);

            // 审批类型
            if (type == "apply-agree-qs") {
                option = 2;
            } else {
                option = 1;
            }
            //保存数据
            $.ajax({
                type: "POST",
                url: "{:U('Light/WorkFlowOpTv/WorkFlowSubmit_qs')}",
                dataType: "json",
                data: {
                    id: id,
                    approve_id: approve_id,
                    mod_name: "{$mod_name}",
                    system: "{$system}",
                    apply_user: apply_user, //中文申请人姓名，用于发送审批结果 
                    option: option,
                    copyto_id: copyto_id,
                    word: comment,
                    status: "submit",
                    __hash__: hash
                },
                complete: function (data) {
                    //审批完成后操作
                    // alert('审批通过');
                    // console.log(data);
                    $('#loadingToast').hide();
                    var $toast = $('#toast');
                    if ($toast.css('display') != 'none') return;

                    $toast.fadeIn(100);
                    // console.log(id);
                    setTimeout(function () {
                        $toast.fadeOut(100);
                        window.location = "{:U('Light/Apply/applyInfo?aid=')}" + id + "&modname=" + '{$mod_name}' + "&system=" + '{$system}';
                    }, 500);
                }
            });
        });
    </script>
</block>