<extend name="Apply:base" />

<block name="show_title">
    <div style="display: flex;flex-direction: row;align-items: center;margin-bottom: 1em;">
        <img class="weui-media-box__thumb" src="{$avatar}" alt="" style="border-radius: 5px;width: 2.5em;height: 2.5em;margin-right: 1em;">
        <h4 class="weui-media-box__title" style="font-weight: 800;font-size:20px;">{$applyer}的{$title|str_replace="审批",'',###}</h4>
        <eq name="stat" value="2">
            <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
        </eq>
        <eq name="stat" value="3">
            <eq name="apply.stat" value="2">
                <span class="label label-success" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已通过</span>
            </eq>
            <eq name="apply.stat" value="1">
                <span class="label label-danger" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已退审</span>
            </eq>
            <eq name="apply.stat" value="0">
                    <eq name="isSigning" value='会审'>
                            <span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">会审中</span>
                        <else/>
                            <span class="label label-primary" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">审批中</span>
                    </eq>
            </eq>
        </eq>
        <eq name="stat" value="0">
            <span class="label label-default" style="margin-left: 1em;padding-top: 0.3em;padding-bottom: 0.2em">已撤销</span>
        </eq>
    </div>
</block>
<block name='js'>
        <style>
            #btn-all {
                right: 10px;
                bottom: 70px;
                position: fixed;
                text-align: center;
                z-index: 999;
            }
            
        </style>
        <div id="btn-all" style="display: none;">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">打印</a>
        </div>
        <script>
            var sys = getQueryString('systempath');
            if( $('#apply_status .label').eq(0).text() == '已通过' && sys == 'sngl' ){
                $('#btn-all').show();
            }
            $('#btn-all').click(function(){
                if(sys != 'sngl') return false;
                bfhtml= window.document.body.innerHTML
                html = $('.weui-panel').eq(0).html();
                html += $('.weui-panel').eq(1).html();
                html += $('.weui-panel').eq(2).html();
                window.document.body.innerHTML=html;
                window.print();
                window.document.body.innerHTML=bfhtml;
            })

            function getQueryString(name) { 
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
                var r = window.location.search.substr(1).match(reg); 
                if (r != null) return unescape(r[2]); return null; 
            } 
        </script>
</block>