<extend name="Apply:applyBase" />

<!-- 去除不可选择日期 -->
<block name="disable_date"></block>
<!-- 去除不可选择日期 end-->
<block name="content_body">
    <input type="hidden" id="ratio" value="ratio">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label class="weui-label">库深录入&nbsp;&nbsp;
                    <span style="color:red;">*</span>
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-select " type="text" readonly id="select_ycl" style="color: #337ab7;" value="点击配置库深" />
            </div>
        </div>
        <div class="weui-cell ">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="font-width">库深详情</span>&nbsp;&nbsp;
                </label>
            </div>
            <div class="weui-cell__hd" >
                <div id="ycl_content">

                </div>
                <div id="param_div">
                    <span class=" greyColor"  >自动填写</span>
                </div>
            </div>
        </div>

    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">相关说明&nbsp;&nbsp;
                </label>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd" id="cnt">
                <textarea class="weui-textarea" name="reason" id="reason" placeholder="请输入相关说明；" rows="3"></textarea>
                <div class="weui-textarea-counter">
                    <span id="reason_char">0</span>/200</div>
            </div>
        </div>
    </div>
    <div class="other_page" id="other_page" style="display: none;">
        <div class="container">
            <div class="page js_show">
                <h3 class="titleTab" style="text-align: center">库深配置</h3>
                <div class="weui-cells__title">(单位:m)</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">1#库容</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="number" index="1#库容" maxlength="15" name="custodian" id="one" placeholder="请输入1#库容">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">2#库容</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="number" index="2#库容" maxlength="15" name="custodian" id="two" placeholder="请输入2#库容">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">3#库容</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="number" index="3#库容" maxlength="15" name="custodian" id="three" placeholder="请输入3#库容">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">4#库容</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="number" index="4#库容" maxlength="15" name="custodian" id="four" placeholder="请输入4#库容">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">5#库容</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="number" index="5#库容" maxlength="15" name="custodian" id="five" placeholder="请输入5#库容">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after ">
                        <div class="weui-cell__hd">
                            <label class="weui-label">
                                <span class="font-width">6#库容</span>&nbsp;&nbsp;
                                <span style="color:red;">*</span>
                            </label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-select peibi scale" type="number" index="6#库容" maxlength="15" name="custodian" id="six" placeholder="请输入6#库容">
                        </div>
                    </div>
                </div>
                <div class="button-sp-area" style="margin-bottom: 20px;display: flex;flex-direction: row;width: 100%;justify-content: space-around;align-items: baseline;">
                    <a href="javascript:;" id="ratio-refuse" class="weui-btn weui-btn_warn" style="width: 40%;">取消</a>
                    <a href="javascript:;" id="ratio-agree" class="weui-btn weui-btn_primary" style="width: 40%">确定</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="Process">
    <div class="weui-cells__title">签收人员选择 <span style="color: #f12e2e">（各部门须选择1人签收）</span>
        
    </div>
    <div class="weui-cells" style="margin-top:0px;">
        <div class="weui-cell" style="padding-top: 0px;padding-bottom: 5px;margin-bottom: 10px;">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="selectSign" style="margin-bottom: 0px;">
                            <li class="weui-uploader__file" style="min-height:80px;" >
                                <div class="user_show">

                                </div>
                                <div class="box_div">
                                    <div class="weui-uploader__input-box" style="width: 2.5em;height: 2.5em;margin-right: 0px;margin-bottom: 0px;margin-top:10px;">
                                            <input id="signInput" class="weui-uploader__input open_sign_model" index="9" type="button" name="sign" readonly />
                                            <!--data-toggle="modal" data-target="#myModal" -->
                                            
                                        </div>
                                    <span style="margin-right: 6px;font-size: 14px;">生产部</span>
                                </div>
                            </li>
                            <li class="weui-uploader__file" style="min-height:80px;">
                                <div class="user_show">

                                </div>
                                <div class="box_div">
                                        <div class="weui-uploader__input-box" style="width: 2.5em;height: 2.5em;margin-right: 0px;margin-bottom: 0px;margin-top:10px;">
                                                <input id="signInput" class="weui-uploader__input open_sign_model" index="10" type="button" name="sign" readonly />
                                                <!--data-toggle="modal" data-target="#myModal" -->
                                            </div>
                                        <span style="margin-right: 6px;font-size: 14px;">品管部</span>
                                </div>
                            </li>
                        </ul>
                        <input type="hidden" name="sign_id" id="sign_id" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>
<block name="other">
    <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true" width="100%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only sign_close">Close</span>
                    </button>
                    <h4 class="modal-title" id="signModalLabel">选择人员</h4>
                </div>
                <div class="modal-body" id="select_sign_content" style="padding-top: 0px;padding-bottom: 0px;">
                    <div class="page js_show" style="position: relative;">
                        <div class="page__bd">
                            <!-- <div class="weui-search-bar" id="sign_searchBar">
                                <form class="weui-search-bar__form">
                                    <div class="weui-search-bar__box">
                                        <i class="weui-icon-search"></i>
                                        <input type="search" class="weui-search-bar__input" id="sign_searchInput" placeholder="请输入姓名或拼音缩写搜索" required="">
                                        <a href="javascript:" class="weui-icon-clear" id="sign_searchClear"></a>
                                    </div>
                                    <label class="weui-search-bar__label" id="sign_searchText">
                                        <i class="weui-icon-search"></i>
                                        <span>请输入姓名或拼音缩写搜索</span>
                                    </label>
                                </form>
                                <a href="javascript:" class="weui-search-bar__cancel-btn" id="sign_searchCancel">搜索</a>
                            </div> -->
                            <div class="weui-cells searchbar-result" id="sign_searchResult" style="margin-top: 0px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default sing_to_close" data-dismiss="modal">关闭</button>
                    <!-- <button type="button" class="btn btn-success" id="sign_pre-level" data-pid="">上一级</button> -->
                </div>
            </div>
        </div>
    </div>
    <div id="sign_dialogs">
        <div class="js_dialog" id="signDialog" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd">
                    <strong class="weui-dialog__title">是否删除签收人</strong>
                </div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" onclick="sign_dialog_close()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                    <a href="javascript:;" onclick="sign_dialog_confirm()" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        var sign_type = '',
            department_id = 0;
        $('#signModal').on('show.bs.modal', function (e) {
            var id = department_id;
            $("#sign_pre-level").attr("data-pid", department_id);
            getSignDepartment(department_id);
        });
        $('.open_sign_model').on('click', function () {
            department_id = $(this).attr('index');
            $('#signModal').modal('show');
        });

        function getSignDepartment(id) {
            $('#sign_searchResult').empty();
            $('#sign_searchResult').append(loading);
            $.post("{:U('Light/Apply/getDeptHtml')}",
                {
                    "id": id
                }, function (data) {
                    $('#sign_searchResult').empty();
                    if (data == '') {
                        $('#sign_searchResult').append(noresult);
                    } else {
                        $('#sign_searchResult').append(data);
                    }
                }
            );
        }
        // up pre-level
        $("#sign_pre-level").on("click", function () {
            $('#sign_searchResult').empty();
            $('#sign_searchResult').append(loading);
            var pid = $(this).attr("data-pid");
            // console.log(pid);
            getSignDepartment(department_id)
        });
        // select department
        $("#sign_searchResult").on("click", ".select-department", function () {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            sign_type = id;
            // console.log(id);
            getSignDepartment(id);
            $("#sign_pre-level").attr("data-pid", id);
        });
        // select department user
        $selectSign = $(".user_show");
        $("#sign_searchResult").on("click", ".select-user", function () {
            // var tmpl = '<li class="weui-uploader__file weui-selet__user" style="background-image:url(#url#)" id="#id#"></li>';
            var tmpl = '<li class="weui-uploader__file wk-select__user" id="#id#" style="height:90px;"><img src="#url#" class="weui-selet__user" style="margin-bottom: 0px;margin-right: 6px;margin-top:10px;" /><span style="margin-right: 6px;font-size: 14px;">#name#</span><span class="weui-badge" style="position: relative;top: -5.8em;right: -1.4em;">X</span></li>';
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            var img = $(this).attr('data-img');
            var name = $(this).attr('data-name');
            var ids = $("#sign_id").val() + "," + id;
            // console.log(id);
            tmpl = tmpl.replace('#id#', id);
            tmpl = tmpl.replace('#name#', name);
            var index = 0;
            if(department_id == 10) index = 1;
            $selectSign.eq(index).html($(tmpl.replace('#url#', img)));
            $("#sign_id").val(ids);
            $('#signModal').modal('hide')
        });
        // delete copyto user
        $("#selectSign").on("click", ".wk-select__user", function () {
            $li_dom = $(this);
            $("#signDialog").fadeIn(200);
        });
        function sign_dialog_close() {
            $("#signDialog").fadeOut(100);
        }
        // Confirm dialog
        function sign_dialog_confirm() {
            var id = $li_dom.attr("id");
            var ids = $("#sign_id").val() + ",";
            var old_ids_arr = ids.split(",");
            var id_str = '';
            var location = $.inArray(id, old_ids_arr);
            if (location >= 0) {
                var repl_id = ',' + id;
                id_str = ids.replace(repl_id, ',');
            }
            $("#sign_id").val(id_str);
            $li_dom.remove();
            $("#signDialog").fadeOut(100);
        }

        // 抄送搜索
        $(function () {
            var $searchBar = $('#sign_searchBar'),
                $searchResult = $('#sign_searchResult'),
                $searchText = $('#sign_searchText'),
                $searchInput = $('#sign_searchInput'),
                $searchClear = $('#sign_searchClear'),
                $searchCancel = $('#sign_searchCancel');

            function hideSearchResult() {
                // $searchResult.hide();
                $searchInput.val('');
            }
            function cancelSearch() {
                hideSearchResult();
                $searchBar.removeClass('weui-search-bar_focusing');
                $searchText.show();
            }

            $searchText.on('click', function () {
                $searchBar.addClass('weui-search-bar_focusing');
                $searchInput.focus();
            });
            $searchInput
                .on('blur', function () {
                    if (!this.value.length) cancelSearch();
                })
                .on('input', function () {
                    if (this.value.length) {
                        $searchResult.show();
                        searchSignUser();
                    } else {
                        modelIni()
                    }
                })
                ;
            $searchClear.on('click', function () {
                hideSearchResult();
                $searchInput.focus();
            });
            $searchCancel.on('click', function () {
                searchSignUser();
            });
            $searchInput.on('keypress', function (e) {
                var keycode = e.keyCode;
                var searchName = $(this).val();
                if (keycode == '13') {
                    e.preventDefault();

                    searchSignUser();
                }
            });
            function searchSignUser() {
                word = $searchInput.val();
                if (!word.length) return modelIni();
                $('#searchResult').empty();
                $('#searchResult').append(loading);
                $.post("{:U('Light/Apply/getDeptHtml')}",
                    {
                        "type": 1,
                        'search': word
                    }, function (data) {
                        $('#sign_searchResult').empty();
                        // console.log(data);
                        if (data == '') {

                            $('#sign_searchResult').append(noresult);
                        } else {

                            $('#sign_searchResult').append(data);
                            // console.log(data.pid);
                            $("#sign_pre-level").attr("data-pid", 17);
                        }
                    }
                );
            }

            function modelIni() {
                var id = 1;
                $searchInput.val(null);
                $("#sign_pre-level").attr("data-pid", 0);
                getSignDepartment(id);
            }
        });



        var label = "量库时间&nbsp;&nbsp;<span style='color:red;'>*</span>",
            datePicker = $('#showDatePicker'),
            the_date = datePicker.val(),
            this_time = new Date(the_date),
            H = new Date().getHours() + 1,
            
            one   = $('#one'),
            two   = $('#two'),
            three = $('#three'),
            four  = $('#four'),
            five  = $('#five'),
            six   = $('#six'),
            scale_array = [],
            out_scale_array = [],
            peibi_value = 0,
            H = H > 9 ? H : '0' + H;
        var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
        now = this_time.getFullYear()+'-'+((this_time.getMonth()+1)>9?(this_time.getMonth()+1):'0'+(this_time.getMonth()+1))+'-'+(this_time.getDate()>9?this_time.getDate():'0'+this_time.getDate())+ ' ' + H + ':00';


        // 确定按钮
        $('#ratio-agree').click(function () {

            var one_val   = one.val(),
                two_val   = two.val(),
                three_val = three.val(),
                four_val  = four.val(),
                five_val  = five.val(),
                six_val   = six.val();

            if (!one_val && !two_val && !three_val && !four_val && !five_val && !six_val) return tooltip('请选择至少一量库填写');
           
            scale_array[0] = { 'name': one_val ? one_val : null, 'value': one.attr('index') };
            scale_array[1] = { 'name': two_val ? two_val : null, 'value': two.attr('index') };
            scale_array[2] = { 'name': three_val ? three_val : null, 'value': three.attr('index') };
            scale_array[3] = { 'name': four_val ? four_val : null, 'value': four.attr('index') };
            scale_array[4] = { 'name': five_val ? five_val : null, 'value': five.attr('index') };
            scale_array[5] = { 'name': six_val ? six_val : null, 'value': six.attr('index') };
            show_wl();
            $('#other_page').fadeOut(200);
        });

        // 物料
        function show_wl() {
            $('#ycl_content').empty();
            var html = '';
            for (i = 0; i < scale_array.length; i++) {
                if (scale_array[i].name == null) continue;
                html += '<div style="padding: 3px 0 0 10px;"><span class="" >' + scale_array[i].value + '</span>：' + (Math.floor(scale_array[i].name * 10) / 10).toFixed(1) + ' m</div>';
            }
            $('#param_div').fadeOut(200);
            $('#ycl_content').html(html);
        }
   
   
        
        // 取消按钮
        $('#ratio-refuse').click(function () {
            $('#other_page').fadeOut(200);
        });

        // 原材料配置弹出
        $('#select_ycl').click(function () {
            $('#other_page').fadeIn(200);
        })

        // 数字确定
        $('#other_page').on('change', '.peibi', function () {
            // 提示
            var value_of_this = (Math.floor($(this).val() * 10) / 10).toFixed(1);
            $(this).val(value_of_this);
        })

        // 日期插件
        datePicker.val(null);
        datePicker.attr('placeholder','今天7点或19点');
        $('.weui-label').eq(1).html(label);

        $('.greyColor').change(function () {
            $(this).removeClass('greyColor');
        })

        function ratioTime() {
            // 日期选择
            var hours = [{ label: '07', value: 7 }, { label: '19', value: 19 }],
                minites = [{ label: '00', value: '00' }],
                symbol = [];

     
                $date = new Date();
               

                var Y = $date.getFullYear(),
                    M = $date.getMonth() + 1,
                    D = $date.getDate();

                M = M > 9 ? M : '0' + M;
                D = D > 9 ? D : '0' + D;

                var symbol_item = {};
                    symbol_item.label = '今天';
                
                symbol_item.value = Y + '-' + M + '-' + D;
                symbol.push(symbol_item);
            

            weui.picker(symbol, hours, minites, {
                defaultValue: [the_date, $date.getHours() + 1, 0],
                onConfirm: function (result) {
                    pickerValue(result);
                }
            });
        }
        
      
        // 日历填充
        function pickerValue(dateArr) {
            var val = dateArr[0] + ' ';

            val += dateArr[1] > 9 ? dateArr[1] : '0' + dateArr[1];
            val += ':';
            val += dateArr[2];
            $('#showDatePicker').val(val);
        }
        
        $('#submit').click(function () {
            if(!datePicker.val()) return tooltip('请选择日期');
            
            
            // 留言判断
            var reason = $('#reason').val(),
                ids = $("#sign_id").val() + ",",
                old_ids_arr = ids.split(","),
                flag = 1;
            for (let i = 0; i < old_ids_arr.length; i++) {
                if (old_ids_arr[i] != '') flag = 0;
            }
            if (flag) return tooltip('请选择签收人');

            str = $selectSign.eq(0).text();
            str = str.replace(/\s+/g,"");
            if (str == 0) return tooltip('请选择生产部签收人');

            str = $selectSign.eq(1).text();
            str = str.replace(/\s+/g,"");
            if (str == 0) return tooltip('请选择品管部签收人');

            toast.fadeIn(200);
            $.ajax({
                type: 'POST',
                url: "{:U('Light/Api/LkStockApplyApi')}",
                dataType: 'json',
                data: {
                    sign: ids,
                    scale: scale_array,
                    text: reason,
                    datetime: datePicker.val(),
                    copyto_id: $("#copyto_id").val(),
                    system: "{$system}",
                    modname: 'LkStockApply',
                    action: 'submit',
                    __hash__: hash
                },
                dataType: 'json',
                success: function (res) {
                    toast.fadeOut(200);
                    if (res.code == 200) {
                        window.location.href = "{$fixed['info']}" + "&aid=" + res.aid;
                    } else {
                        tooltip(res.msg);
                    }
                }
            });
        });

    </script>
</block>