<extend name="Apply:base" />
<block name='table'>
    
        <div class="other_page" id="other_page" style="    
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 999;">
            <div class="container">
                <div class="page js_show">
                    <h3 class="titleTab" style="text-align: center">调价详情</h3>
                    <volist name="data" id="vo">
                        <div class="weui-cells weui-cells_form">
                        </div>
                    </volist>
                </div>
            </div>
        </div>

    
</block>